#### 연습문제

In [3]:
#1
a = "Life is too short, you need python"

if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "shirt" not in a:
    print("shirt")
elif "need" in a:
    print("need")
else:
    print("none")

shirt

In [68]:
#2
i = 1
sum = 0
while i <= 1000:
    if i%3 == 0:
        sum += i
        #print(sum)
    i += 1
print(sum)

166833

In [71]:
#3
i = 1
while i <= 5:
    print(i*"*")
    i += 1

*
**
***
****
*****

In [138]:
#3
i = 6
while True:
    i -= 1
    if i == 0:
        break
    print(i * "*")

*****
****
***
**
*

In [129]:
#4
for i in range(1, 101):
    print(i, end = ", ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

In [134]:
#5
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for i in score:
    total += i
average = total/len(score)
average

79.0

In [135]:
#6
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
result

[2, 6, 10]

In [136]:
numbers = [1, 2, 3, 4, 5]
[n*2 for n in numbers if n%2 == 1]

[2, 6, 10]

In [139]:
[n*3 for n in range(1, 51) if n%2 == 0]

[6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 102,
 108,
 114,
 120,
 126,
 132,
 138,
 144,
 150]

In [146]:
Aclass = {"철수":90, "영희" : 95, "길동":85, "영우":80, "준호":75}
Aclass.values()
score = list(Aclass.values())
score

total = 0
for i in score:
    total += i
average = total/len(score)
average

85.0

# 5. 함수
```
def 함수이름( , ) :
    실행할 문장
    return 변수
```

* 입력값이 2개인 경우

In [18]:
def add(a,b):
    c = a + b
    return c    #print()와는 다르다

In [5]:
add(1,2)

3

In [7]:
def add(a,b):
    c = a + b
    print(c)

In [10]:
add(10,20)

30

* 입력값이 한개인 경우

In [21]:
#입력받은 것을 2배해서 내놓는 함수 twice
def twice(a):
    b = a*2
    return b

In [14]:
twice(4)

8

In [15]:
def twice(a):
    return a*2

In [16]:
twice(4)

8

In [125]:
#입력값이 홀수이면 2배, 짝수이면 나누기 2
def odd_even(a):
    if a%2 == 1:
        return a*2
    else:
        return a/2    #return이 실행되면 함수가 끝난다

In [24]:
odd_even(5)

10

* 입력값이 없는 경우

In [19]:
def add():
    a = 10
    b = 20
    return a + b

In [20]:
add()

30

* 리턴값이 '2개 이상'일 수도 있다 (여러개를 동시에 리턴하는 것이 가능하다)

In [25]:
def add():
    a = 10
    b = 20
    return a + b, a - b

In [26]:
add()

(30, -10)

In [29]:
a = add()
print(a)

c, d = add()
print(c)
print(d)

(30, -10)
30
-10

* 기본값(디폴트)이 있는 경우

In [35]:
def add(a, b, c = 100):    #a,b,c의 기본값이 100
    result = a+b+c
    return result

In [36]:
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [33]:
add(1, 2)

103

In [34]:
add(1, 2, 3)

6

In [38]:
add(2, 1, 3)
add(c=3, b=2, a=1)  #변수 하나씩 지정을 한다면, 입력하는 순서를 꼭 지킬 필요는 없다

6

In [40]:
#기본값은 항상 맨 마지막 값에 정의된다
def add(a, b = 10, c):
    result = a+b+c
    return result

SyntaxError: non-default argument follows default argument (1779769068.py, line 2)

* 입력값이 여러개인 경우

In [42]:
def add(*a):
    return a

In [43]:
add(1,2,3,4)

(1, 2, 3, 4)

In [47]:
def add(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

In [48]:
add(1, 2, 3, 4)

10

In [54]:
#1부터 입력받은 수 까지의 합
num = int(input("숫자입력: "))
sum = 0
for i in range(num+1):
    sum += i
print(sum)

숫자입력:  10

55

In [55]:
def add(num):
    sum = 0
    for i in range(num+1):
        sum += i
    return sum

In [56]:
add(10)

55

In [65]:
#숫자 2개를 입력받아서 그 두 숫자 사이의 값들의 합 구하기
def two_sum(a, b):
    sum = 0
    for i in range(a, b+1):
        sum += i
    return sum     #input()을 쓰지 않아도 입력값을 받을 수 있다

In [64]:
two_sum(1, 10)

55

* return과 print의 차이

In [75]:
def func_r(a):
    return(a*2)

def func_p(a):
    print(a*2)

In [76]:
func_r(3)

6

In [77]:
func_p(3)

6

In [81]:
b = func_r(3)
print(b)
b/2

6

3.0

In [83]:
b = func_p(3)
print("...")
print(b)
b/2
#print는 단지 값을 '출력'만해준다, 보여주기만 한다
#retrun은 값을 받는다

6
...
None

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

In [80]:
type(b)

NoneType

In [87]:
def kw_test(**kwargs):
    print(kwargs)

In [88]:
kw_test(a=1, b=2)

{'a': 1, 'b': 2}

In [89]:
def kw_test(*kwargs):
    print(kwargs)

In [90]:
kw_test(1,2,3,4)

(1, 2, 3, 4)

In [95]:
def myself(name, age):
    print(f"나의 이름은 {name}이고, 나이는 {age}세 입니다.")

In [96]:
myself("이름", 10)

나의 이름은 이름이고, 나이는 10세 입니다.

In [97]:
def myself(name, age):
    return f"나의 이름은 {name}이고, 나이는 {age}세 입니다."

In [98]:
myself("김철수", 14)

'나의 이름은 김철수이고, 나이는 14세 입니다.'

In [103]:
del(c)

In [107]:
def add(a, b):
    c = a + b
    return c

#add(1, 2)
print(c)   #return 전까지는 c가 유효하나, return이 실행되고 나면 사라진다
#함수 안에서 만들어진 변수는 함수가 끝나고 나면 사라진다

NameError: name 'c' is not defined

In [110]:
d = 5    #global 전역변수
def add(a, b):
    c = a + b    #local 지역변수
    
    return c + d

add(1, 2)
print(d)

5

#### lambda
- 함수를 한줄로 간결하게 만들 때 사용
- 함수에 이름을 붙이지 않는다

In [111]:
def add(a,b):
    return a + b
add(1,2)

3

In [112]:
(lambda a, b: a+b)(1, 2)

3

In [113]:
f = lambda a, b: a+b
f(1, 2)

3

#### 재귀함수
- 함수 안에 함수

In [114]:
import time
def hello():
    print("안녕하세요")
    time.sleep(1)
    hello()

In [115]:
hello()

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

KeyboardInterrupt:

In [118]:
def hello():
    print("안녕하세요")
    time.sleep(1)
    return
    hello()
#return의 위치에 따라 실행횟수가 다르다 (return이 들어가면 함수의 무한 반복을 끝낼 수 있다)

In [117]:
hello()

안녕하세요

In [124]:
def hello(count):
    if count == 0:
        return
    print("안녕하세요")
    #time.sleep(1)
    count -= 1
    hello(count)

In [123]:
hello(5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요