## 14. 정규 표현식 (Regular Expression)

### (1) [ ] : 문자 클래스
-예:<br>
[abc] : a,b,c 중 한개의 문자와 매치<br>
[a-c] : [abc]와 동일<br>
[a-z] : 모든 소문자 알파벳 ([A-Z], [a-zA-Z] ..)<br>
[0-5] : [012345] ([0-9] ..)<br>

-'^' 표시 : [ ]안에서만 사용, 'not(반대)'의 의미를 갖는다

*자주 사용하는 문자 클래스<br>
-'\d' : '숫자'와 매치, [0-9]와 동일한 표현<br>
-'\D' : '숫자'가 아닌 것과 매치, [^0-9]와 동일한 표현<br>
-'\s' : whitespace 문자(공백을 표현하는 문자-tab, space)와 매치, [ \t\n\r\f\v] 와 동일한 표현(맨 앞의 빈칸은 공백(space)를 의미)<br>
-'\S' : whitespace 문자가 아닌 것과 매치, [^ \t\n\r\f\v] 와 동일한 표현<br>
-'\w' : alphanumeric(문자+숫자)와 매치, [a-zA-Z0-9_]와 동일한 표현<br>
-'\W' : alphanumeric(문자+숫자)가 아닌 문자와 매치, [^a-zA-Z0-9_]와 동일한 표현<br>

#### 문자열 바꾸기(1)

In [1]:
sentence = "blue socks and red shoes"

In [3]:
#blue -> AAA 로 바꾸기
import re

In [4]:
#re.sub(패턴, 바꿀 문장, 무엇에 대하여)
re.sub("blue", "AAA", sentence)

'AAA socks and red shoes'

In [7]:
result = re.sub("blue", "AAA", sentence)
result = re.sub("red", "BBB", result)

In [8]:
result

'AAA socks and BBB shoes'

In [9]:
re.sub("blue|red", "AAA", sentence)   #| : 'or' 의 의미

'AAA socks and AAA shoes'

In [13]:
re.sub("b.{3}", "AAA", sentence)   #참고 사이트 : https://regexr.com/ , https://regex101.com/

'AAA socks and red shoes'

#### 문자열 바꾸기(2)

In [30]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(string)

1
12
123
1234
abc
1a

In [48]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(re.sub("[0-9]", "A", string), end = ",  ")   #[0-9] : 모든 숫자
#1개의 숫자를 찾아서 A로 바꿔라

,  A,  AA,  AAA,  AAAA,  abc,  Aa,

In [49]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(re.sub("[0-9]{4}", "A", string), end = ",  ")

,  1,  12,  123,  A,  abc,  1a,

In [50]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(re.sub("[0-9]+", "A", string), end = ",  ")   #1개의 숫자가 1번 이상

,  A,  A,  A,  A,  abc,  Aa,

In [101]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(re.sub("[0-9]?", "#", string), end = ",  ")   #'?' : 1번 이하 -> 숫자가 없는 자리까지 A로 바뀌었다

#,  ##,  ###,  ####,  #####,  #a#b#c#,  ##a#,

In [52]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(re.sub("[0-9]*", "A", string), end = ",  ")   #맨 처음 A -> 빈칸이 바뀐 것

A,  AA,  AA,  AA,  AA,  AaAbAcA,  AAaA,

In [54]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(re.sub("[^0-9]", "A", string), end = ",  ")   #숫자를 제외한 문자만 A로 바뀌었다

,  1,  12,  123,  1234,  AAA,  1A,

In [55]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(re.sub("^[0-9]", "A", string), end = ",  ")   #[]바깥에 '^' -> '시작'이 숫자면 A로 바꿔라

,  A,  A2,  A23,  A234,  abc,  Aa,

In [65]:
li = ["", "1", "12", "123", "1234", "abc", "1a"]
for string in li:
    print(re.sub("[0-9]$", "A", string), end = ",  ")   #[]바깥에 '$' -> 숫자 1개로 끝나는 것만 A로 바꿔라

,  A,  1A,  12A,  123A,  abc,  1a,

#### 문자열 바꾸기(3)

* 1. a로 시작하고 o로 끝나는 문자에서 a와 o사이에 2개의 문자가 있는 경우 : a..o, [a]..[o]

In [62]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("a..o", "#", string), end = ",  ")

#,  #,  aBo,  a123o,  kbs,  123kbs,  KBS,  KB3,  abcKBS123,

In [63]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("a.{2}o", "#", string), end = ",  ")

#,  #,  aBo,  a123o,  kbs,  123kbs,  KBS,  KB3,  abcKBS123,

In [64]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("^a.{2}o$", "#", string), end = ",  ")

#,  #,  aBo,  a123o,  kbs,  123kbs,  KBS,  KB3,  abcKBS123,

* 2. 알파벳 대문자로 시작하고 숫자로 끝나는 경우 : ^[A-Z].+[0-9]$

In [104]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("^[A-Z].+[0-9]$", "#", string), end = ",  ")

a12o,  abco,  aBo,  a123o,  kbs,  123kbs,  KBS,  #,  abcKBS123,

In [70]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("^[A-Z]\S[0-9]$", "#", string), end = ",  ")

a12o,  abco,  aBo,  a123o,  kbs,  123kbs,  KBS,  #,  abcKBS123,

In [73]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("^[a-z].+[0-9]$", "#", string), end = ",  ")

a12o,  abco,  aBo,  a123o,  kbs,  123kbs,  KBS,  KB3,  #,

* 3. '123'을 찾아서 바꾸기

In [80]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("123+", "#", string), end = ",  ")   #[123]은 '1 또는 2 또는 3' 을 의미

a12o,  abco,  aBo,  a#o,  kbs,  #kbs,  KBS,  KB3,  abcKBS#,

In [81]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("123", "#", string), end = ",  ")

a12o,  abco,  aBo,  a#o,  kbs,  #kbs,  KBS,  KB3,  abcKBS#,

* 4. 문자들 중간에 있는 123 을 찾아서 바꾸기

In [105]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub(".+123.+", "#", string), end = ",  ")

a12o,  abco,  aBo,  #,  kbs,  123kbs,  KBS,  KB3,  abcKBS123,

In [91]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("\S+123\S+", "#", string), end = ",  ")

a12o,  abco,  aBo,  #,  kbs,  123kbs,  KBS,  KB3,  abcKBS123,

In [92]:
li = ["a12o", "abco", "aBo", "a123o", "kbs", "123kbs", "KBS", "KB3", "abcKBS123"]
for string in li:
    print(re.sub("\D+123\D+", "#", string), end = ",  ")

a12o,  abco,  aBo,  #,  kbs,  123kbs,  KBS,  KB3,  abcKBS123,

* 5. 주민번호 뒷자리 바꾸기

In [98]:
string = "park 800905-1049118 Kim 700905-1059119"
print(re.sub("\d{7}", "*******", string))

park 800905-******* Kim 700905-*******

In [99]:
string = "park 800905-1049118 Kim 700905-1059119"
print(re.sub("-\d{7}", "-*******", string))

park 800905-******* Kim 700905-*******

In [100]:
string = "park 800905-1049118 Kim 700905-1059119" 
print(re.sub(r'1.{6}','*******',string))

park 800905-******* Kim 700905-*******