In [1]:
import time

In [2]:
time.localtime()
time.strftime('%x', time.localtime())

'09/14/22'

In [3]:
list(zip([1,2,3], [4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [4]:
int('0xf1f7', 16)

61943

In [5]:
a = ['3', '5', '18', '11']
list(map(lambda x: x + '개', a))

['3개', '5개', '18개', '11개']

In [6]:
def str_(a):
    return a + '개'

In [7]:
a = ['3', '5', '18', '11']
list(map(str_, a))

['3개', '5개', '18개', '11개']

In [22]:
import random

li = []
i = 1
while i < 11:
    a = random.randint(1, 55)
    if a in li:
        continue
    else:
        li.append(a)
    i += 1
print(sorted(li))

[1, 3, 4, 13, 25, 28, 30, 36, 38, 42]

In [26]:
while len(li) < 10:
    b = random.randint(1, 55)
    if b not in li:
        li.append(b)
print(sorted(li))

[1, 3, 4, 13, 25, 28, 30, 36, 38, 42]

In [27]:
lst = []
while True:
    lst.append(random.randint(1, 55))
    lst = set(lst)
    lst = list(lst)
    if len(lst) == 10:
        break
print(sorted(lst))

[3, 8, 9, 15, 19, 23, 44, 45, 53, 54]

In [31]:
a = [1,2,3,4,5]
random.shuffle(a)
a

[4, 5, 2, 3, 1]

In [33]:
time.strftime('%m/%d/%y, %I:%M:%S', time.localtime())

'09/14/22, 09:40:17'

In [34]:
time.strftime('%x, %X', time.localtime())

'09/14/22, 09:41:19'

In [36]:
name = ['Lee', 'Park', 'Jeon', 'Choi']
age = [19, 22, 16, 31]
job = ['student', 'teacher', 'student', 'artist']

info = list(zip(name, age, job))
print(info)

[('Lee', 19, 'student'), ('Park', 22, 'teacher'), ('Jeon', 16, 'student'), ('Choi', 31, 'artist')]

In [37]:
import pandas as pd

In [39]:
df = pd.read_csv("김밥천국메뉴.csv")
df

        메뉴    가격  종류
0     야채김밥  2000  김밥
1     치즈김밥  2500  김밥
2    소고기김밥  3000  김밥
3     된장찌개  5000  찌개
4    순두부찌개  5500  찌개
5   뚝배기불고기  6000  덮밥
6     카레덮밥  5000  덮밥
7     제육덮밥  6000  덮밥
8       라면  3000  분식
9       떡국  4500  분식
10     돈가스  6000  분식

In [40]:
df.메뉴
df.가격
df.종류

0     김밥
1     김밥
2     김밥
3     찌개
4     찌개
5     덮밥
6     덮밥
7     덮밥
8     분식
9     분식
10    분식
Name: 종류, dtype: object

In [46]:
df[df.가격 > 5000].메뉴

4      순두부찌개
5     뚝배기불고기
7       제육덮밥
10       돈가스
Name: 메뉴, dtype: object

In [48]:
df[df.종류 == "김밥"].가격

0    2000
1    2500
2    3000
Name: 가격, dtype: int64

In [49]:
import numpy as np

In [50]:
np.mean(df[df.종류 == "김밥"].가격)

2500.0

In [54]:
list(df[df.가격 >= 5000].메뉴)

['된장찌개', '순두부찌개', '뚝배기불고기', '카레덮밥', '제육덮밥', '돈가스']

In [60]:
sum = 0
count = 0

for menu, price, kind in zip(df.메뉴, df.가격, df.종류):
    if price >= 5000:
        print(menu)
    if kind == "김밥":
        sum += price
        count += 1
        
print("김밥 가격 평균:", (sum/count), "원")

된장찌개
순두부찌개
뚝배기불고기
카레덮밥
제육덮밥
돈가스
김밥 가격 평균: 2500.0 원