# Pandas 복습

## 221202 Day69

In [1]:
import pandas as pd

### (1) 한줄짜리 : Series, 여러줄 : DataFrame

In [2]:
#[1,2,3] 이 있는 시리즈
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [3]:
#2x3 데이터프레임
pd.DataFrame([[1,2,3], [4,5,6]])

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
# 칼럼 이름을 c1, c2, c3 으로 변경
df = pd.DataFrame([[1,2,3], [4,5,6]])
df.columns = ['c1', 'c2', 'c3']
df

   c1  c2  c3
0   1   2   3
1   4   5   6

In [5]:
# 로우(인덱스) 를 r1, r2 로 변경
df.index = ['r1', 'r2']
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6

In [6]:
# 칼럼 c2 -> C2 변경
df.rename(columns={'c2' : 'C2'}, inplace=True)
df

    c1  C2  c3
r1   1   2   3
r2   4   5   6

### (2) mpg DataFrame

In [8]:
import pydataset
mpg = pydataset.data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [9]:
# 홀수번째 칼럼과 홀수번째 로우만 출력
mpg.iloc[0::2, 0::2]

    manufacturer  displ  cyl drv  hwy       class
1           audi    1.8    4   f   29     compact
3           audi    2.0    4   f   31     compact
5           audi    2.8    6   f   26     compact
7           audi    3.1    6   f   27     compact
9           audi    1.8    4   4   25     compact
11          audi    2.0    4   4   27     compact
13          audi    2.8    6   4   25     compact
15          audi    3.1    6   4   25     compact
17          audi    3.1    6   4   25     midsize
19     chevrolet    5.3    8   r   20         suv
21     chevrolet    5.3    8   r   20         suv
23     chevrolet    6.0    8   r   17         suv
25     chevrolet    5.7    8   r   23     2seater
27     chevrolet    6.2    8   r   25     2seater
29     chevrolet    5.3    8   4   19         suv
31     chevrolet    5.7    8   4   15         suv
33     chevrolet    2.4    4   f   27     midsize
35     chevrolet    3.1    6   f   26     midsize
37     chevrolet    3.6    6   f   26     midsize
39         dodge    3.0    6   f   24     minivan
41         dodge    3.3    6   f   22     minivan
43         dodge    3.3    6   f   24     minivan
45         dodge    3.8    6   f   22     minivan
47         dodge    3.8    6   f   23     minivan
49         dodge    3.7    6   4   19      pickup
51         dodge    3.9    6   4   17      pickup
53         dodge    4.7    8   4   19      pickup
55         dodge    4.7    8   4   12      pickup
57         dodge    5.2    8   4   15      pickup
59         dodge    4.7    8   4   17         suv
61         dodge    4.7    8   4   17         suv
63         dodge    5.7    8   4   18         suv
65         dodge    4.7    8   4   16      pickup
67         dodge    4.7    8   4   17      pickup
69         dodge    4.7    8   4   16      pickup
71         dodge    5.2    8   4   15      pickup
73         dodge    5.7    8   4   17      pickup
75          ford    4.6    8   r   17         suv
77          ford    5.4    8   r   18         suv
79          ford    4.0    6   4   19         suv
81          ford    4.0    6   4   19         suv
83          ford    5.0    8   4   17         suv
85          ford    4.2    6   4   17      pickup
87          ford    4.6    8   4   16      pickup
89          ford    5.4    8   4   15      pickup
91          ford    3.8    6   r   26  subcompact
93          ford    4.0    6   r   26  subcompact
95          ford    4.6    8   r   21  subcompact
97          ford    4.6    8   r   23  subcompact
99          ford    5.4    8   r   20  subcompact
101        honda    1.6    4   f   32  subcompact
103        honda    1.6    4   f   29  subcompact
105        honda    1.8    4   f   34  subcompact
107        honda    1.8    4   f   36  subcompact
109      hyundai    2.4    4   f   26     midsize
111      hyundai    2.4    4   f   30     midsize
113      hyundai    2.5    6   f   26     midsize
115      hyundai    3.3    6   f   28     midsize
117      hyundai    2.0    4   f   29  subcompact
119      hyundai    2.0    4   f   27  subcompact
121      hyundai    2.7    6   f   24  subcompact
123         jeep    3.0    6   4   22         suv
125         jeep    4.0    6   4   20         suv
127         jeep    4.7    8   4   12         suv
129         jeep    5.7    8   4   18         suv
131   land rover    4.0    8   4   15         suv
133   land rover    4.4    8   4   18         suv
135      lincoln    5.4    8   r   17         suv
137      lincoln    5.4    8   r   18         suv
139      mercury    4.0    6   4   19         suv
141      mercury    5.0    8   4   17         suv
143       nissan    2.4    4   f   27     compact
145       nissan    2.5    4   f   32     midsize
147       nissan    3.5    6   f   26     midsize
149       nissan    3.0    6   f   25     midsize
151       nissan    3.3    6   4   17         suv
153       nissan    4.0    6   4   20         suv
155      pontiac    3.1    6   f   26     midsize
157      pontiac    3.8    6   f   27     midsize
159      pontiac    5.3    8   f   25     midsize
161       subaru    2.5    4   4   24         suv
163       subaru    2.5    4   4   25         suv
165       subaru    2.5    4   4   23         suv
167       subaru    2.2    4   4   26  subcompact
169       subaru    2.5    4   4   26  subcompact
171       subaru    2.5    4   4   27     compact
173       subaru    2.5    4   4   27     compact
175       toyota    2.7    4   4   20         suv
177       toyota    3.4    6   4   17         suv
179       toyota    4.7    8   4   17         suv
181       toyota    2.2    4   f   27     midsize
183       toyota    2.4    4   f   31     midsize
185       toyota    3.0    6   f   26     midsize
187       toyota    2.2    4   f   27     compact
189       toyota    2.4    4   f   31     compact
191       toyota    3.0    6   f   26     compact
193       toyota    3.3    6   f   27     compact
195       toyota    1.8    4   f   33     compact
197       toyota    1.8    4   f   37     compact
199       toyota    4.7    8   4   15         suv
201       toyota    2.7    4   4   20      pickup
203       toyota    2.7    4   4   22      pickup
205       toyota    3.4    6   4   19      pickup
207       toyota    4.0    6   4   20      pickup
209   volkswagen    2.0    4   f   26     compact
211   volkswagen    2.0    4   f   29     compact
213   volkswagen    1.9    4   f   44     compact
215   volkswagen    2.0    4   f   26     compact
217   volkswagen    2.0    4   f   29     compact
219   volkswagen    2.5    5   f   29     compact
221   volkswagen    2.8    6   f   24     compact
223   volkswagen    1.9    4   f   41  subcompact
225   volkswagen    2.0    4   f   26  subcompact
227   volkswagen    2.5    5   f   29  subcompact
229   volkswagen    1.8    4   f   29     midsize
231   volkswagen    2.0    4   f   29     midsize
233   volkswagen    2.8    6   f   26     midsize

In [10]:
#year 칼럼을 문자열 데이터 타입으로 변경
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [11]:
mpg['year'].dtype

dtype('int64')

In [12]:
mpg['year'] = mpg['year'].astype('string')
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    string
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(3), object(6), string(1)
memory usage: 21.9+ KB

In [15]:
# 제조사 별 cty 평균
mpg.groupby('manufacturer')[['cty']].mean().round(2)

                cty
manufacturer
audi          17.61
chevrolet     15.00
dodge         13.14
ford          14.00
honda         24.44
hyundai       18.64
jeep          13.50
land rover    11.50
lincoln       11.33
mercury       13.25
nissan        18.08
pontiac       17.00
subaru        19.29
toyota        18.53
volkswagen    20.93

In [16]:
# model, year 칼럼만 추출
mpg.loc[:, ['model', 'year']]

      model  year
1        a4  1999
2        a4  1999
3        a4  2008
4        a4  2008
5        a4  1999
..      ...   ...
230  passat  2008
231  passat  2008
232  passat  1999
233  passat  1999
234  passat  2008

[234 rows x 2 columns]

In [17]:
# cty, hwy 의 평균연비 칼럼 생성
mpg['avg'] = (mpg['cty'] + mpg['hwy']) / 2
mpg[:5]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

In [18]:
df = mpg.iloc[:10, :3]
df[:5]

  manufacturer model  displ
1         audi    a4    1.8
2         audi    a4    1.8
3         audi    a4    2.0
4         audi    a4    2.0
5         audi    a4    2.8

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  10 non-null     object
 1   model         10 non-null     object
 2   displ         10 non-null     float64
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes

In [21]:
# df 에 [ 'hyundai', 'sonata', 2.0 ] 행 추가
# 방법1
a = {'manufacturer' : 'hyundai', 'model' : 'sonata', 'displ' : 2.0}
df = df.append(a, ignore_index=True)
df

C:\Users\admin\AppData\Local\Temp\ipykernel_252\3236381224.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(a, ignore_index=True)

   manufacturer       model  displ
0          audi          a4    1.8
1          audi          a4    1.8
2          audi          a4    2.0
3          audi          a4    2.0
4          audi          a4    2.8
5          audi          a4    2.8
6          audi          a4    3.1
7          audi  a4 quattro    1.8
8          audi  a4 quattro    1.8
9          audi  a4 quattro    2.0
10      hyundai      sonata    2.0

In [23]:
# 방법2
df.loc[len(df)] = [ 'hyundai', 'sonata', 2.0 ]
df

   manufacturer       model  displ
0          audi          a4    1.8
1          audi          a4    1.8
2          audi          a4    2.0
3          audi          a4    2.0
4          audi          a4    2.8
5          audi          a4    2.8
6          audi          a4    3.1
7          audi  a4 quattro    1.8
8          audi  a4 quattro    1.8
9          audi  a4 quattro    2.0
10      hyundai      sonata    2.0
12      hyundai      sonata    2.0

In [24]:
df.reset_index(drop=True)

   manufacturer       model  displ
0          audi          a4    1.8
1          audi          a4    1.8
2          audi          a4    2.0
3          audi          a4    2.0
4          audi          a4    2.8
5          audi          a4    2.8
6          audi          a4    3.1
7          audi  a4 quattro    1.8
8          audi  a4 quattro    1.8
9          audi  a4 quattro    2.0
10      hyundai      sonata    2.0
11      hyundai      sonata    2.0

In [25]:
df.index = range(12)
df

   manufacturer       model  displ
0          audi          a4    1.8
1          audi          a4    1.8
2          audi          a4    2.0
3          audi          a4    2.0
4          audi          a4    2.8
5          audi          a4    2.8
6          audi          a4    3.1
7          audi  a4 quattro    1.8
8          audi  a4 quattro    1.8
9          audi  a4 quattro    2.0
10      hyundai      sonata    2.0
11      hyundai      sonata    2.0

In [26]:
d = pd.DataFrame({'manufacturer' : ['hyundai'], 'model' : ['sonata'], 'displ' : [2.0]})
df = pd.concat([df, d])
df

   manufacturer       model  displ
0          audi          a4    1.8
1          audi          a4    1.8
2          audi          a4    2.0
3          audi          a4    2.0
4          audi          a4    2.8
5          audi          a4    2.8
6          audi          a4    3.1
7          audi  a4 quattro    1.8
8          audi  a4 quattro    1.8
9          audi  a4 quattro    2.0
10      hyundai      sonata    2.0
11      hyundai      sonata    2.0
0       hyundai      sonata    2.0

## 221205 Day70

In [1]:
import pandas as pd
import numpy as np

### (1) 데이터 프레임 생성

In [2]:
## 데이터 프레임 만들기
pd.DataFrame(data = {'국어' : [80, 70], '영어' : [90, 80], '수학' : [100, 90]},
            index = ['A','B'])

   국어  영어   수학
A  80  90  100
B  70  80   90

In [3]:
## 과학 칼럼 90, 90 추가
df = pd.DataFrame(data = {'국어' : [80, 70], '영어' : [90, 80], '수학' : [100, 90]},
                  index = ['A','B'])

df['과학'] = [90, 90]
df

   국어  영어   수학  과학
A  80  90  100  90
B  70  80   90  90

In [4]:
## 수학 칼럼 삭제
df.drop(columns = '수학', inplace=True)
df

   국어  영어  과학
A  80  90  90
B  70  80  90

In [5]:
## 총점 칼럼 추가
df['총점'] = df['국어'] + df['영어'] + df['과학']
df

   국어  영어  과학   총점
A  80  90  90  260
B  70  80  90  240

In [6]:
## 행이름 C, 점수 70 80 90 240 추가
df.loc['C'] = [70, 80, 90, 240]
df

   국어  영어  과학   총점
A  80  90  90  260
B  70  80  90  240
C  70  80  90  240

In [7]:
## total의 260 을 결측치로
df.replace(df['총점'][0], np.nan, inplace=True)

In [8]:
df.replace(df['총점'][0], 260, inplace=True)
df

   국어  영어  과학     총점
A  80  90  90  260.0
B  70  80  90  240.0
C  70  80  90  240.0

In [ ]:
## 칼럼 이름 바꾸기
df.rename(columns = {'total', '총점'})
#다른방법 : df.columns = ['국어', '영어', '과학', '총점']

In [9]:
len(df.columns)

4

In [10]:
## 평균이 85 이상이면 A+, 이하이면 A-
df['평균'] = df['총점'] / (len(df.columns) - 1)
df['학점'] = np.where(df['평균'] >= 85, 'A+', 'A-')
df

   국어  영어  과학     총점         평균  학점
A  80  90  90  260.0  86.666667  A+
B  70  80  90  240.0  80.000000  A-
C  70  80  90  240.0  80.000000  A-

In [13]:
## 총점, 국어 의 오름차순으로 정렬
df.sort_values(by = ['총점', '국어'])

   국어  영어  과학     총점         평균  학점
B  70  80  90  240.0  80.000000  A-
C  70  80  90  240.0  80.000000  A-
A  80  90  90  260.0  86.666667  A+

### (2) mpg dataframe

In [15]:
import pydataset
mpg = pydataset.data('mpg')
mpg[:3]

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact

In [18]:
## year 는 모두 몇넌?
pd.unique(mpg['year'])

array([1999, 2008], dtype=int64)

In [20]:
## 연도별 cty의 평균
mpg.groupby('year')[['cty']].mean().round(2)

        cty
year
1999  17.02
2008  16.70

In [27]:
## audi의 연도별 cty 의 평균
mpg[mpg['manufacturer'] == 'audi'].groupby('year')[['cty']].agg(np.mean).round(2)

        cty
year
1999  17.11
2008  18.11

## 221206 Day71

In [1]:
import pandas as pd
import numpy as np
import pydataset

In [2]:
mpg = pydataset.data('mpg')
mpg[:5]

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [3]:
np.unique(mpg['fl'])

array(['c', 'd', 'e', 'p', 'r'], dtype=object)

In [15]:
## mpg['fl'] 의 값이 'p', 'r', 'e' 인 것만 출력
mpg[(mpg['fl'] == 'p') | (mpg['fl'] == 'r') | (mpg['fl'] == 'e')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [21]:
mpg.query("fl == ['p', 'r', 'e']")

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [22]:
mpg[mpg['fl'].isin(['p', 'r', 'e'])]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [23]:
## mpg['class'] 의 데이터 타입을 'category' 로 변경
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [25]:
mpg['class'] = mpg['class'].astype('category')
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    category
dtypes: category(1), float64(1), int64(4), object(5)
memory usage: 20.7+ KB

In [26]:
mpg['cty'][4]

21

In [ ]:
## mpg['cty'] 값이 짝수이면 2를 더하고, 홀수이면 1을 더한다
# 방법1
for i in range(len(mpg['cty'])):
    if mpg['cty'][i] % 2 == 0:
        mpg['cty'][i] += 2
    else:
        mpg['cty'][i] += 1
        
# 방법2
mpg['cty'] = np.where(mpg['cty'] % 2 == 1, mpg['cty'] + 1, mpg['cty'] + 2)

In [30]:
mpg['cty']

1      18
2      21
3      20
4      21
5      16
       ..
230    19
231    21
232    16
233    18
234    17
Name: cty, Length: 234, dtype: int64

In [32]:
## map, filter, apply, ...
def add(x):
    if x % 2 == 0:
        return x+2
    else:
        return x+1

mpg['cty_1'] = list(map(add, mpg['cty']))
mpg[:5]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_1
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,20
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,22
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,22
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,22
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,18

In [33]:
list(filter(add, mpg['cty']))

[18,
 21,
 20,
 21,
 16,
 18,
 18,
 18,
 16,
 20,
 19,
 15,
 17,
 17,
 15,
 15,
 17,
 16,
 14,
 11,
 14,
 13,
 12,
 16,
 15,
 16,
 15,
 15,
 14,
 11,
 11,
 14,
 19,
 22,
 18,
 18,
 17,
 18,
 17,
 16,
 16,
 17,
 17,
 11,
 15,
 15,
 16,
 16,
 15,
 14,
 13,
 14,
 14,
 14,
 9,
 11,
 11,
 13,
 13,
 9,
 13,
 11,
 13,
 11,
 12,
 9,
 13,
 13,
 12,
 9,
 11,
 11,
 13,
 11,
 11,
 11,
 12,
 14,
 15,
 14,
 13,
 13,
 13,
 14,
 14,
 13,
 13,
 13,
 11,
 13,
 18,
 18,
 17,
 16,
 15,
 15,
 15,
 15,
 14,
 28,
 24,
 25,
 23,
 24,
 26,
 25,
 24,
 21,
 18,
 18,
 21,
 21,
 18,
 18,
 19,
 19,
 19,
 20,
 20,
 17,
 16,
 17,
 17,
 15,
 15,
 14,
 9,
 14,
 13,
 11,
 11,
 12,
 12,
 11,
 11,
 11,
 12,
 14,
 13,
 13,
 13,
 21,
 19,
 23,
 23,
 19,
 19,
 18,
 19,
 19,
 14,
 15,
 14,
 12,
 18,
 16,
 17,
 18,
 16,
 18,
 18,
 20,
 19,
 20,
 18,
 21,
 19,
 19,
 19,
 20,
 20,
 19,
 20,
 15,
 16,
 15,
 15,
 16,
 14,
 21,
 21,
 21,
 21,
 18,
 18,
 19,
 21,
 21,
 21,
 22,
 18,
 18,
 18,
 24,
 24,
 26,
 28,
 26,
 11,
 13,
 15,
 16,
 17,
 15,
 15,
 15,
 16,
 21,
 19,
 21,
 22,
 17,
 33,
 21,
 19,
 22,
 21,
 21,
 21,
 16,
 17,
 35,
 29,
 21,
 19,
 20,
 20,
 21,
 18,
 19,
 21,
 16,
 18,
 17]

In [34]:
mpg['cty'].apply(lambda x : x+2 if x%2 == 0 else x+1)

1      20
2      22
3      22
4      22
5      18
       ..
230    20
231    22
232    18
233    20
234    18
Name: cty, Length: 234, dtype: int64

In [ ]:
## mpg['hwy'] 값 분류 : ~20 - A, ~30 - B, ~40 - C, 40~ - D
# 방법1
mpg['hwy_rank'] = []

if mpg['hwy'] < 20:
    mpg['hwy_rank'].append('A')
elif mpg['hwy'] < 30:
    mpg['hwy_rank'].append('B')
elif mpg['hwy'] < 40:
    mpg['hwy_rank'].append('C')
else:
    mpg['hwy_rank'].append('D')
    
mpg[:5]

In [ ]:
# 방법2
mpg['hwy_rank'] = np.where(mpg['hwy'] <= 20, 'A',
                          (np.where(mpg['hwy'] <= 30, 'B',
                                   (np.where(mpg['hwy'] <= 40, 'C', 'D')))))

In [37]:
# 방법3
mpg['hwy_rank'] = pd.cut(mpg['hwy'],
                         bins = [0, 20, 30, 40, 100],
                         labels=['A','B','C','D'])

mpg[:5]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_1,hwy_rank
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,20,B
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,22,B
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,22,C
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,22,B
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,18,B

In [45]:
## mpg['trans'] 에서 'auto' 인 행 추출
mpg[mpg['trans'].str[:4] == 'auto']['trans'][:10]

1     auto(l5)
4     auto(av)
5     auto(l5)
7     auto(av)
9     auto(l5)
11    auto(s6)
12    auto(l5)
14    auto(s6)
16    auto(l5)
17    auto(s6)
Name: trans, dtype: object

In [48]:
mpg[mpg['trans'].str.contains('auto')][:10]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,cty_1,hwy_rank
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,20,B
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,22,B
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,18,B
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,20,B
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,18,B
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,20,B
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,16,B
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,18,B
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,16,B
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,18,B

## 221207 Day72

In [1]:
import pandas as pd
import numpy as np
import pydataset

In [2]:
mpg = pydataset.data('mpg')
mpg[:5]

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [4]:
mpg['fl'].unique()

array(['p', 'r', 'e', 'd', 'c'], dtype=object)

In [8]:
## 칼럼명 'fl' 을 'fuel' 로 변경
mpg.rename(columns={'fl' : 'fuel'})
#mpg.rename(columns={'fl' : 'fuel'}, inplace=True)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [17]:
## 제조사 이름 중에 's' 가 들어가있는 제조사
#mpg['manufacturer'].unique()
mpg[mpg['manufacturer'].str.contains('s')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
145,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
146,nissan,altima,3.5,2008,6,manual(m6),f,19,27,p,midsize
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [21]:
## fuel 이 p,r,e 인 mpg
mpg.rename(columns={'fl' : 'fuel'}, inplace=True)
mpg[mpg['fuel'].isin(['p', 'r', 'e'])]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [22]:
mpg[mpg['fuel'].isin(['p', 'r', 'e'])]['fuel'].unique()

array(['p', 'r', 'e'], dtype=object)

In [25]:
mpg.query("fuel == ['p', 'r', 'e']")
mpg.query("fuel in ['p', 'r', 'e']")

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [24]:
mpg.query("fuel == ['p', 'r', 'e']")['fuel'].unique()

array(['p', 'r', 'e'], dtype=object)

In [28]:
## 제조사, 연도별 cty 의 평균
mpg.groupby(['manufacturer', 'year'])[['cty']].mean()

                         cty
manufacturer year
audi         1999  17.111111
             2008  18.111111
chevrolet    1999  15.142857
             2008  14.916667
dodge        1999  13.375000
             2008  12.952381
ford         1999  13.933333
             2008  14.100000
honda        1999  24.800000
             2008  24.000000
hyundai      1999  18.333333
             2008  18.875000
jeep         1999  14.500000
             2008  13.166667
land rover   1999  11.000000
             2008  12.000000
lincoln      1999  11.000000
             2008  12.000000
mercury      1999  13.500000
             2008  13.000000
nissan       1999  17.666667
             2008  18.428571
pontiac      1999  17.000000
             2008  17.000000
subaru       1999  19.000000
             2008  19.500000
toyota       1999  18.150000
             2008  19.071429
volkswagen   1999  21.250000
             2008  20.454545

In [35]:
## 제조사, 연도별 cty 의 평균, hwy 의 최대값
mpg.groupby(['manufacturer', 'year'])[['cty', 'hwy']].agg({
    'cty' : np.mean, 'hwy' : max})

                         cty  hwy
manufacturer year
audi         1999  17.111111   29
             2008  18.111111   31
chevrolet    1999  15.142857   27
             2008  14.916667   30
dodge        1999  13.375000   24
             2008  12.952381   24
ford         1999  13.933333   26
             2008  14.100000   26
honda        1999  24.800000   33
             2008  24.000000   36
hyundai      1999  18.333333   29
             2008  18.875000   31
jeep         1999  14.500000   20
             2008  13.166667   22
land rover   1999  11.000000   15
             2008  12.000000   18
lincoln      1999  11.000000   17
             2008  12.000000   18
mercury      1999  13.500000   17
             2008  13.000000   19
nissan       1999  17.666667   29
             2008  18.428571   32
pontiac      1999  17.000000   27
             2008  17.000000   28
subaru       1999  19.000000   26
             2008  19.500000   27
toyota       1999  18.150000   35
             2008  19.071429   37
volkswagen   1999  21.250000   44
             2008  20.454545   29

In [ ]:
mpg.groupby(['manufacturer', 'year'])[['cty', 'hwy']].agg({
    'cty_mean'==('cty' : np.mean), 'hwy_max'==('hwy' : max)})

* df.groupby()<br>
split 분리 -> apply 적용 -> combine 결합

In [39]:
## 제조사별 cty
mpg.pivot_table(index='manufacturer', columns='year', values='cty')

year               1999       2008
manufacturer
audi          17.111111  18.111111
chevrolet     15.142857  14.916667
dodge         13.375000  12.952381
ford          13.933333  14.100000
honda         24.800000  24.000000
hyundai       18.333333  18.875000
jeep          14.500000  13.166667
land rover    11.000000  12.000000
lincoln       11.000000  12.000000
mercury       13.500000  13.000000
nissan        17.666667  18.428571
pontiac       17.000000  17.000000
subaru        19.000000  19.500000
toyota        18.150000  19.071429
volkswagen    21.250000  20.454545

In [42]:
## mpg 의 절반만 랜덤하게 샘플링
mpg_half = mpg.sample(frac=0.5, random_state=1111)
mpg_half

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
120,hyundai,tiburon,2.7,2008,6,auto(l4),f,17,24,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
97,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
132,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv
114,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
145,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize
130,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
112,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup
118,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact
86,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
88,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact
128,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv
139,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
122,hyundai,tiburon,2.7,2008,6,manual(m5),f,17,24,r,subcompact
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize
121,hyundai,tiburon,2.7,2008,6,manual(m6),f,16,24,r,subcompact

In [48]:
## mpg 와 mpg_half 의 차집합
mpg[~mpg.index.isin(mpg_half.index)][:5]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact

In [49]:
mpg[mpg.isin(mpg_half).any(axis=1)][:5]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact

In [50]:
mpg[mpg.index.isin(mpg_half.index) == False][:5]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact

In [51]:
mpg.drop(mpg_half.index, axis=0)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup
90,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact
108,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
110,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv
124,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
129,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
133,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
134,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv
137,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
140,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
146,nissan,altima,3.5,2008,6,manual(m6),f,19,27,p,midsize
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize

In [62]:
## 새로운 칼럼 'info' 생성 (내용 : manufacturer/model/drv)
#mpg['info'] = [mpg['manufacturer'].values + '/' + mpg['model'].values + '/' + mpg['drv'].values]
mpg['info'] = mpg['manufacturer'] + '/' + mpg['model'] + '/' + mpg['drv']
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fuel,class,info
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,audi/a4/f
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,audi/a4/f
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,audi/a4/f
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,audi/a4/f
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,audi/a4/f
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,volkswagen/passat/f
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,volkswagen/passat/f
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,volkswagen/passat/f
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,volkswagen/passat/f
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,volkswagen/passat/f

## 221208 Day73

In [1]:
import pandas as pd
import numpy as np
import pydataset

In [2]:
mpg = pydataset.data('mpg')
mpg[:5]

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [3]:
## mpg 에서 데이터 100 개만
mpg_100 = mpg.sample(n=100, random_state=1234)
mpg_100

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
112,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
130,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan
118,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
132,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv
145,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
133,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
137,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize

In [5]:
## mpg - mpg_100
mpg_ex = mpg.drop(index = mpg_100.index, axis=0)

In [6]:
## mpg = mpg_100 + mpg_ex
mpg = pd.concat([mpg_100, mpg_ex], ignore_index=True)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
1,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
2,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
3,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
4,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
230,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
231,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
## 중복되는 행은 제외하고 합치기
mpg_70 = mpg.sample(frac=0.7, random_state=1234)

pd.concat([mpg_100, mpg_70], ignore_index=False).drop_duplicates()

pd.merge([mpg_100, mpg_70], how='outer')

In [ ]:
mpg_1 = mpg[:5]
mpg_3 = mpg[3:7]

mpg_1.merge(mpg_3, how='outer')

In [37]:
mpg = pydataset.data('mpg').reset_index().iloc[:,1:]
mpg['info'] = mpg['manufacturer'] + '/' + mpg['model'] + '/' + mpg['drv']
mpg[:5]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,info
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,audi/a4/f
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,audi/a4/f
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,audi/a4/f
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,audi/a4/f
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,audi/a4/f

In [38]:
## 칼럼 삭제
mpg.drop(columns = ['manufacturer', 'model', 'drv'], inplace=True)
mpg

     displ  year  cyl       trans  cty  hwy fl    class                 info
0      1.8  1999    4    auto(l5)   18   29  p  compact            audi/a4/f
1      1.8  1999    4  manual(m5)   21   29  p  compact            audi/a4/f
2      2.0  2008    4  manual(m6)   20   31  p  compact            audi/a4/f
3      2.0  2008    4    auto(av)   21   30  p  compact            audi/a4/f
4      2.8  1999    6    auto(l5)   16   26  p  compact            audi/a4/f
..     ...   ...  ...         ...  ...  ... ..      ...                  ...
229    2.0  2008    4    auto(s6)   19   28  p  midsize  volkswagen/passat/f
230    2.0  2008    4  manual(m6)   21   29  p  midsize  volkswagen/passat/f
231    2.8  1999    6    auto(l5)   16   26  p  midsize  volkswagen/passat/f
232    2.8  1999    6  manual(m5)   18   26  p  midsize  volkswagen/passat/f
233    3.6  2008    6    auto(s6)   17   26  p  midsize  volkswagen/passat/f

[234 rows x 9 columns]

In [39]:
mpg['info'][3]

'audi/a4/f'

In [40]:
mpg['info'].str.split('/')[1]

['audi', 'a4', 'f']

In [42]:
## mpg['info'] 에서 'manufacturer', 'model', 'drv' 칼럼 생성

info = []
for i in range(len(mpg)):
    info.append(mpg['info'][i])
    
info[:5]

['audi/a4/f', 'audi/a4/f', 'audi/a4/f', 'audi/a4/f', 'audi/a4/f']

In [24]:
info[0].split('/')[0]
info[0].split('/')[1]

'a4'

In [43]:
len(info)

234

In [48]:
manufacturer = []
model = []
drv = []

for i in range(len(info)):
    #print(info[i].split('/')[0])
    manufacturer.append(info[i].split('/')[0])
    model.append(info[i].split('/')[1])
    drv.append(info[i].split('/')[2])

mpg['manufacturer'] = manufacturer
mpg['model'] = model
mpg['drv'] = drv

mpg[:10]

,displ,year,cyl,trans,cty,hwy,fl,class,info,manufacturer,model,drv
0,1.8,1999,4,auto(l5),18,29,p,compact,audi/a4/f,audi,a4,f
1,1.8,1999,4,manual(m5),21,29,p,compact,audi/a4/f,audi,a4,f
2,2.0,2008,4,manual(m6),20,31,p,compact,audi/a4/f,audi,a4,f
3,2.0,2008,4,auto(av),21,30,p,compact,audi/a4/f,audi,a4,f
4,2.8,1999,6,auto(l5),16,26,p,compact,audi/a4/f,audi,a4,f
5,2.8,1999,6,manual(m5),18,26,p,compact,audi/a4/f,audi,a4,f
6,3.1,2008,6,auto(av),18,27,p,compact,audi/a4/f,audi,a4,f
7,1.8,1999,4,manual(m5),18,26,p,compact,audi/a4 quattro/4,audi,a4 quattro,4
8,1.8,1999,4,auto(l5),16,25,p,compact,audi/a4 quattro/4,audi,a4 quattro,4
9,2.0,2008,4,manual(m6),20,28,p,compact,audi/a4 quattro/4,audi,a4 quattro,4

In [34]:
## trans 가 'manual' 인 것만
mpg[mpg['trans'].str.contains('manual')]

,displ,year,cyl,trans,cty,hwy,fl,class,info
2,1.8,1999,4,manual(m5),21,29,p,compact,audi/a4/f
3,2.0,2008,4,manual(m6),20,31,p,compact,audi/a4/f
6,2.8,1999,6,manual(m5),18,26,p,compact,audi/a4/f
8,1.8,1999,4,manual(m5),18,26,p,compact,audi/a4 quattro/4
10,2.0,2008,4,manual(m6),20,28,p,compact,audi/a4 quattro/4
13,2.8,1999,6,manual(m5),17,25,p,compact,audi/a4 quattro/4
15,3.1,2008,6,manual(m6),15,25,p,compact,audi/a4 quattro/4
24,5.7,1999,8,manual(m6),16,26,p,2seater,chevrolet/corvette/r
26,6.2,2008,8,manual(m6),16,26,p,2seater,chevrolet/corvette/r
28,7.0,2008,8,manual(m6),15,24,p,2seater,chevrolet/corvette/r
49,3.7,2008,6,manual(m6),15,19,r,pickup,dodge/dakota pickup 4wd/4
52,3.9,1999,6,manual(m5),14,17,r,pickup,dodge/dakota pickup 4wd/4
56,5.2,1999,8,manual(m5),11,17,r,pickup,dodge/dakota pickup 4wd/4
65,4.7,2008,8,manual(m6),12,16,r,pickup,dodge/ram 1500 pickup 4wd/4
69,4.7,2008,8,manual(m6),12,16,r,pickup,dodge/ram 1500 pickup 4wd/4
70,4.7,2008,8,manual(m6),9,12,e,pickup,dodge/ram 1500 pickup 4wd/4
72,5.2,1999,8,manual(m5),11,16,r,pickup,dodge/ram 1500 pickup 4wd/4
79,4.0,1999,6,manual(m5),15,19,r,suv,ford/explorer 4wd/4
85,4.2,1999,6,manual(m5),14,17,r,pickup,ford/f150 pickup 4wd/4
86,4.6,1999,8,manual(m5),13,16,r,pickup,ford/f150 pickup 4wd/4
91,3.8,1999,6,manual(m5),18,26,r,subcompact,ford/mustang/r
93,4.0,2008,6,manual(m5),17,26,r,subcompact,ford/mustang/r
96,4.6,1999,8,manual(m5),15,22,r,subcompact,ford/mustang/r
97,4.6,2008,8,manual(m5),15,23,r,subcompact,ford/mustang/r
99,5.4,2008,8,manual(m6),14,20,p,subcompact,ford/mustang/r
100,1.6,1999,4,manual(m5),28,33,r,subcompact,honda/civic/f
102,1.6,1999,4,manual(m5),25,32,r,subcompact,honda/civic/f
103,1.6,1999,4,manual(m5),23,29,p,subcompact,honda/civic/f
105,1.8,2008,4,manual(m5),26,34,r,subcompact,honda/civic/f
108,2.0,2008,4,manual(m6),21,29,p,subcompact,honda/civic/f
110,2.4,1999,4,manual(m5),18,27,r,midsize,hyundai/sonata/f
112,2.4,2008,4,manual(m5),21,31,r,midsize,hyundai/sonata/f
114,2.5,1999,6,manual(m5),18,26,r,midsize,hyundai/sonata/f
117,2.0,1999,4,manual(m5),19,29,r,subcompact,hyundai/tiburon/f
118,2.0,2008,4,manual(m5),20,28,r,subcompact,hyundai/tiburon/f
121,2.7,2008,6,manual(m6),16,24,r,subcompact,hyundai/tiburon/f
122,2.7,2008,6,manual(m5),17,24,r,subcompact,hyundai/tiburon/f
142,2.4,1999,4,manual(m5),21,29,r,compact,nissan/altima/f
145,2.5,2008,4,manual(m6),23,32,r,midsize,nissan/altima/f
146,3.5,2008,6,manual(m6),19,27,p,midsize,nissan/altima/f
149,3.0,1999,6,manual(m5),19,25,r,midsize,nissan/maxima/f
152,3.3,1999,6,manual(m5),15,17,r,suv,nissan/pathfinder 4wd/4
160,2.5,1999,4,manual(m5),18,25,r,suv,subaru/forester awd/4
162,2.5,2008,4,manual(m5),20,27,r,suv,subaru/forester awd/4
163,2.5,2008,4,manual(m5),19,25,p,suv,subaru/forester awd/4
167,2.2,1999,4,manual(m5),19,26,r,subcompact,subaru/impreza awd/4
168,2.5,1999,4,manual(m5),19,26,r,subcompact,subaru/impreza awd/4
172,2.5,2008,4,manual(m5),19,25,p,compact,subaru/impreza awd/4
173,2.5,2008,4,manual(m5),20,27,r,compact,subaru/impreza awd/4
174,2.7,1999,4,manual(m5),15,20,r,suv,toyota/4runner 4wd/4
177,3.4,1999,6,manual(m5),15,17,r,suv,toyota/4runner 4wd/4
180,2.2,1999,4,manual(m5),21,29,r,midsize,toyota/camry/f
182,2.4,2008,4,manual(m5),21,31,r,midsize,toyota/camry/f
185,3.0,1999,6,manual(m5),18,26,r,midsize,toyota/camry/f
188,2.2,1999,4,manual(m5),21,29,r,compact,toyota/camry solara/f
189,2.4,2008,4,manual(m5),21,31,r,compact,toyota/camry solara/f
192,3.0,1999,6,manual(m5),18,26,r,compact,toyota/camry solara/f
196,1.8,1999,4,manual(m5),26,35,r,compact,toyota/corolla/f
197,1.8,2008,4,manual(m5),28,37,r,compact,toyota/corolla/f
201,2.7,1999,4,manual(m5),15,20,r,pickup,toyota/toyota tacoma 4wd/4
203,2.7,2008,4,manual(m5),17,22,r,pickup,toyota/toyota tacoma 4wd/4
204,3.4,1999,6,manual(m5),15,17,r,pickup,toyota/toyota tacoma 4wd/4
206,4.0,2008,6,manual(m6),15,18,r,pickup,toyota/toyota tacoma 4wd/4
208,2.0,1999,4,manual(m5),21,29,r,compact,volkswagen/gti/f
210,2.0,2008,4,manual(m6),21,29,p,compact,volkswagen/gti/f
212,2.8,1999,6,manual(m5),17,24,r,compact,volkswagen/gti/f
213,1.9,1999,4,manual(m5),33,44,d,compact,volkswagen/jetta/f
214,2.0,1999,4,manual(m5),21,29,r,compact,volkswagen/jetta/f
217,2.0,2008,4,manual(m6),21,29,p,compact,volkswagen/jetta/f
219,2.5,2008,5,manual(m5),21,29,r,compact,volkswagen/jetta/f
221,2.8,1999,6,manual(m5),17,24,r,compact,volkswagen/jetta/f
222,1.9,1999,4,manual(m5),35,44,d,subcompact,volkswagen/new beetle/f
224,2.0,1999,4,manual(m5),21,29,r,subcompact,volkswagen/new beetle/f
226,2.5,2008,5,manual(m5),20,28,r,subcompact,volkswagen/new beetle/f
228,1.8,1999,4,manual(m5),21,29,p,midsize,volkswagen/passat/f
231,2.0,2008,4,manual(m6),21,29,p,midsize,volkswagen/passat/f
233,2.8,1999,6,manual(m5),18,26,p,midsize,volkswagen/passat/f