In [ ]:
#복습

In [1]:
a = [1, 2, 3, 4, "Hello", "Good Morning"]
a.remove(4)
a

[1, 2, 3, 'Hello', 'Good Morning']

In [2]:
a = [1, 2, 3, 4, "Hello", "Good Morning"]
a.pop(4)
a

[1, 2, 3, 4, 'Good Morning']

In [3]:
a = int(input("팩토리얼을 구할 수를 입력하세요: "))
result = 1
for i in range(1, a+1):
    result *= i
print(result)

팩토리얼을 구할 수를 입력하세요:  3

6

In [13]:
list = []
for i in range(0, 1001):
    if i % 2 == 0:
        list.append(i)
print(list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]

In [15]:
list = []
for i in range(0, 11):
    list.append(i)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
b = [i for i in range(0, 11)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
[i for i in range(0, 11) if i%2==0]

[0, 2, 4, 6, 8, 10]

In [24]:
#복사를 하는 방법
a = [1,2,3]
b = a
c = a[:]
d = a.copy()

import copy
e = copy.copy(a)

from copy import copy
f = copy(a)

In [46]:
a = [1,3,4,2]
#a.sort()
#a.reverse()

a = sorted(a)
a.reverse()
print(a)

[4, 3, 2, 1]

# 0905

#### 이스케이프 문자 (escape; 탈출)
- 줄바꿈 : \n, \t

In [48]:
print("Life is short.\nWe need Python.")

Life is short.
We need Python.

In [50]:
print("그가 나에게 \"사랑해요\"라고 말했다.")

그가 나에게 "사랑해요"라고 말했다.

#### list comprehension 리스트 내포

In [51]:
a = [1,2,3,4]
result = []
for i in a:
    result.append(i*3)
result

[3, 6, 9, 12]

In [52]:
a = [1,2,3,4]
[i*3 for i in a]

[3, 6, 9, 12]

In [53]:
a = [1,2,3,4]
result = []
for i in a:
    if i%2 == 0: 
        result.append(i*3)
result

[6, 12]

In [54]:
a = [1,2,3,4]
[i*3 for i in a if i%2 == 0]

[6, 12]

## while문
- for문 : 반복의 횟수가 정해져 있다
- while문 : 반복의 횟수가 정해져있지 않다 (그때그때 다를 수 있다)
- 조건문이 참인 동안에 while문 아래의 문장이 반복해서 수행된다

In [56]:
i = 0
while i < 10:
    print(i, end = ", ")
    i += 1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

* break : while문을 끝내는 방법

In [58]:
#while True : 무한루프
import time
i = 0
while True:
    print(i, end = ", ")
    i += 1
    time.sleep(1)
    if i  == 10:
        break
print("끝")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 끝

In [75]:
#1부터 10까지의 합
i = 0
sum = 0
while i <= 10:
    sum += i
    print(sum)
    i += 1
print(sum)

0
1
3
6
10
15
21
28
36
45
55
55

In [3]:
#1부터 10까지 3의 배수들의 합
i = 1
sum = 0
while i <= 10:
    if i%3 == 0:
        sum += i
        print(sum)
    i += 1
print(sum)

3
9
18
18

#### continue : while문의 맨 처음으로 돌아가기

In [1]:
#3의 배수가 아닌 것만 출력
i = 0
while i < 10:
    i += 1
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10

In [ ]:
#3의 배수가 아닌 것의 합
i = 0
sum = 0
while i < 10:
    if i % 3 == 0:
        continue
    sum += i
    print(sum)
    i += 1
print(sum)

In [ ]:
#import random
random.randint(1, 10)

In [ ]:
#7보다 작은 수들의 합
sum = 0
while True:
    i = random.randint(1, 10)
    if i < 7:
        print(i, end = " ")
        sum += i
    if sum > 50:
        break
print(sum)

In [ ]:
sum = 0
while True:
    i = random.randint(1, 10)
    if i > 7:
        break
    else:
        print(i, end = " ")
        sum += i
print(sum)

In [2]:
#10 이하의 수에 대하여 3의 배수 또는 5의 배수의 합
i = 1
sum = 0
while i < 100:
    if i%3 == 0 or i%5 == 0:
        #print(i)
        sum += i
    else:
        pass
    i += 1
print(sum)

2318

In [1]:
i = 1
sum = 0
while i < 100:
    if i%3 == 0:
        sum += i
    elif i%5 == 0:
        sum += i
    i += 1
print(sum)

2318