### 1006 복습

#### 1

In [3]:
import pydataset

In [4]:
import pandas as pd

In [5]:
#pydataset에 있는 tips를 이용하여 요일별로 흡연자/비흡연자가 몇명씩 방문하였는지 출력
tips = pydataset.data("tips")
tips[:5]

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips.groupby(['day', 'smoker'])[['smoker']].count()

             smoker
day  smoker
Fri  No           4
     Yes         15
Sat  No          45
     Yes         42
Sun  No          57
     Yes         19
Thur No          45
     Yes         17

In [11]:
tips.groupby('day')['smoker'].value_counts()

day   smoker
Fri   Yes       15
      No         4
Sat   No        45
      Yes       42
Sun   No        57
      Yes       19
Thur  No        45
      Yes       17
Name: smoker, dtype: int64

#### 2

In [13]:
import numpy as np

In [14]:
df = pd.DataFrame({'key1': ['a', 'a', 'b',' b', 'a'],

                  'key2': ['one', 'two', 'one', 'two', 'one'],

                  'data1': np.random.randn(5),

                  'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.557086 -0.314870
1    a  two -0.680738 -0.727759
2    b  one -1.111887 -0.240858
3    b  two -1.478442  0.892131
4    a  one -2.083603  0.670138

In [15]:
#key1으로 묶고 각 그룹에서 data1의 평균
df.groupby('key1')[['data1']].mean()

         data1
key1
 b   -1.478442
a    -1.107142
b    -1.111887

#### 3

In [30]:
mpg = pydataset.data("mpg")
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [31]:
#class별 manufacturer의 빈도수를 구하는 표
pd.crosstab(index = mpg['class'], columns = mpg['manufacturer'])

manufacturer,audi,chevrolet,dodge,ford,honda,hyundai,jeep,land rover,lincoln,mercury,nissan,pontiac,subaru,toyota,volkswagen
class,,,,,,,,,,,,,,,
2seater,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0
compact,15,0,0,0,0,0,0,0,0,0,2,0,4,12,14
midsize,3,5,0,0,0,7,0,0,0,0,7,5,0,7,7
minivan,0,0,11,0,0,0,0,0,0,0,0,0,0,0,0
pickup,0,0,19,7,0,0,0,0,0,0,0,0,0,7,0
subcompact,0,0,0,9,9,7,0,0,0,0,0,0,4,0,6
suv,0,9,7,9,0,0,8,4,3,4,4,0,6,8,0

In [32]:
#위의 df 에서 manufacturer 를 melt 시켜라
df = pd.crosstab(index = mpg['class'], columns = mpg['manufacturer'])
df.reset_index()

manufacturer,class,audi,chevrolet,dodge,ford,honda,hyundai,jeep,land rover,lincoln,mercury,nissan,pontiac,subaru,toyota,volkswagen
0,2seater,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0
1,compact,15,0,0,0,0,0,0,0,0,0,2,0,4,12,14
2,midsize,3,5,0,0,0,7,0,0,0,0,7,5,0,7,7
3,minivan,0,0,11,0,0,0,0,0,0,0,0,0,0,0,0
4,pickup,0,0,19,7,0,0,0,0,0,0,0,0,0,7,0
5,subcompact,0,0,0,9,9,7,0,0,0,0,0,0,4,0,6
6,suv,0,9,7,9,0,0,8,4,3,4,4,0,6,8,0

In [33]:
df.reset_index().melt(id_vars = 'class')

          class manufacturer  value
0       2seater         audi      0
1       compact         audi     15
2       midsize         audi      3
3       minivan         audi      0
4        pickup         audi      0
5    subcompact         audi      0
6           suv         audi      0
7       2seater    chevrolet      5
8       compact    chevrolet      0
9       midsize    chevrolet      5
10      minivan    chevrolet      0
11       pickup    chevrolet      0
12   subcompact    chevrolet      0
13          suv    chevrolet      9
14      2seater        dodge      0
15      compact        dodge      0
16      midsize        dodge      0
17      minivan        dodge     11
18       pickup        dodge     19
19   subcompact        dodge      0
20          suv        dodge      7
21      2seater         ford      0
22      compact         ford      0
23      midsize         ford      0
24      minivan         ford      0
25       pickup         ford      7
26   subcompact         ford      9
27          suv         ford      9
28      2seater        honda      0
29      compact        honda      0
30      midsize        honda      0
31      minivan        honda      0
32       pickup        honda      0
33   subcompact        honda      9
34          suv        honda      0
35      2seater      hyundai      0
36      compact      hyundai      0
37      midsize      hyundai      7
38      minivan      hyundai      0
39       pickup      hyundai      0
40   subcompact      hyundai      7
41          suv      hyundai      0
42      2seater         jeep      0
43      compact         jeep      0
44      midsize         jeep      0
45      minivan         jeep      0
46       pickup         jeep      0
47   subcompact         jeep      0
48          suv         jeep      8
49      2seater   land rover      0
50      compact   land rover      0
51      midsize   land rover      0
52      minivan   land rover      0
53       pickup   land rover      0
54   subcompact   land rover      0
55          suv   land rover      4
56      2seater      lincoln      0
57      compact      lincoln      0
58      midsize      lincoln      0
59      minivan      lincoln      0
60       pickup      lincoln      0
61   subcompact      lincoln      0
62          suv      lincoln      3
63      2seater      mercury      0
64      compact      mercury      0
65      midsize      mercury      0
66      minivan      mercury      0
67       pickup      mercury      0
68   subcompact      mercury      0
69          suv      mercury      4
70      2seater       nissan      0
71      compact       nissan      2
72      midsize       nissan      7
73      minivan       nissan      0
74       pickup       nissan      0
75   subcompact       nissan      0
76          suv       nissan      4
77      2seater      pontiac      0
78      compact      pontiac      0
79      midsize      pontiac      5
80      minivan      pontiac      0
81       pickup      pontiac      0
82   subcompact      pontiac      0
83          suv      pontiac      0
84      2seater       subaru      0
85      compact       subaru      4
86      midsize       subaru      0
87      minivan       subaru      0
88       pickup       subaru      0
89   subcompact       subaru      4
90          suv       subaru      6
91      2seater       toyota      0
92      compact       toyota     12
93      midsize       toyota      7
94      minivan       toyota      0
95       pickup       toyota      7
96   subcompact       toyota      0
97          suv       toyota      8
98      2seater   volkswagen      0
99      compact   volkswagen     14
100     midsize   volkswagen      7
101     minivan   volkswagen      0
102      pickup   volkswagen      0
103  subcompact   volkswagen      6
104         suv   volkswagen      0

In [34]:
df.reset_index().melt

<bound method DataFrame.melt of manufacturer       class  audi  chevrolet  dodge  ford  honda  hyundai  jeep  \
0                2seater     0          5      0     0      0        0     0
1                compact    15          0      0     0      0        0     0
2                midsize     3          5      0     0      0        7     0
3                minivan     0          0     11     0      0        0     0
4                 pickup     0          0     19     7      0        0     0
5             subcompact     0          0      0     9      9        7     0
6                    suv     0          9      7     9      0        0     8

manufacturer  land rover  lincoln  mercury  nissan  pontiac  subaru  toyota  \
0                      0        0        0       0        0       0       0
1                      0        0        0       2        0       4      12
2                      0        0        0       7        5       0       7
3                      0        0        0       0        0       0       0
4                      0        0        0       0        0       0       7
5                      0        0        0       0        0       4       0
6                      4        3        4       4        0       6       8

manufacturer  volkswagen
0                      0
1                     14
2                      7
3                      0
4                      0
5                      6
6                      0  >

In [35]:
df.reset_index().melt(id_vars = 'class', value_name = 'count')

          class manufacturer  count
0       2seater         audi      0
1       compact         audi     15
2       midsize         audi      3
3       minivan         audi      0
4        pickup         audi      0
5    subcompact         audi      0
6           suv         audi      0
7       2seater    chevrolet      5
8       compact    chevrolet      0
9       midsize    chevrolet      5
10      minivan    chevrolet      0
11       pickup    chevrolet      0
12   subcompact    chevrolet      0
13          suv    chevrolet      9
14      2seater        dodge      0
15      compact        dodge      0
16      midsize        dodge      0
17      minivan        dodge     11
18       pickup        dodge     19
19   subcompact        dodge      0
20          suv        dodge      7
21      2seater         ford      0
22      compact         ford      0
23      midsize         ford      0
24      minivan         ford      0
25       pickup         ford      7
26   subcompact         ford      9
27          suv         ford      9
28      2seater        honda      0
29      compact        honda      0
30      midsize        honda      0
31      minivan        honda      0
32       pickup        honda      0
33   subcompact        honda      9
34          suv        honda      0
35      2seater      hyundai      0
36      compact      hyundai      0
37      midsize      hyundai      7
38      minivan      hyundai      0
39       pickup      hyundai      0
40   subcompact      hyundai      7
41          suv      hyundai      0
42      2seater         jeep      0
43      compact         jeep      0
44      midsize         jeep      0
45      minivan         jeep      0
46       pickup         jeep      0
47   subcompact         jeep      0
48          suv         jeep      8
49      2seater   land rover      0
50      compact   land rover      0
51      midsize   land rover      0
52      minivan   land rover      0
53       pickup   land rover      0
54   subcompact   land rover      0
55          suv   land rover      4
56      2seater      lincoln      0
57      compact      lincoln      0
58      midsize      lincoln      0
59      minivan      lincoln      0
60       pickup      lincoln      0
61   subcompact      lincoln      0
62          suv      lincoln      3
63      2seater      mercury      0
64      compact      mercury      0
65      midsize      mercury      0
66      minivan      mercury      0
67       pickup      mercury      0
68   subcompact      mercury      0
69          suv      mercury      4
70      2seater       nissan      0
71      compact       nissan      2
72      midsize       nissan      7
73      minivan       nissan      0
74       pickup       nissan      0
75   subcompact       nissan      0
76          suv       nissan      4
77      2seater      pontiac      0
78      compact      pontiac      0
79      midsize      pontiac      5
80      minivan      pontiac      0
81       pickup      pontiac      0
82   subcompact      pontiac      0
83          suv      pontiac      0
84      2seater       subaru      0
85      compact       subaru      4
86      midsize       subaru      0
87      minivan       subaru      0
88       pickup       subaru      0
89   subcompact       subaru      4
90          suv       subaru      6
91      2seater       toyota      0
92      compact       toyota     12
93      midsize       toyota      7
94      minivan       toyota      0
95       pickup       toyota      7
96   subcompact       toyota      0
97          suv       toyota      8
98      2seater   volkswagen      0
99      compact   volkswagen     14
100     midsize   volkswagen      7
101     minivan   volkswagen      0
102      pickup   volkswagen      0
103  subcompact   volkswagen      6
104         suv   volkswagen      0

In [37]:
df.reset_index().columns

Index(['class', 'audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai',
       'jeep', 'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac',
       'subaru', 'toyota', 'volkswagen'],
      dtype='object', name='manufacturer')

In [38]:
df.reset_index().columns[1:]

Index(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru',
       'toyota', 'volkswagen'],
      dtype='object', name='manufacturer')

In [40]:
df.reset_index().melt(id_vars = 'class',
                      value_vars = df.reset_index().columns[1:],
                      value_name = 'count')

          class manufacturer  count
0       2seater         audi      0
1       compact         audi     15
2       midsize         audi      3
3       minivan         audi      0
4        pickup         audi      0
5    subcompact         audi      0
6           suv         audi      0
7       2seater    chevrolet      5
8       compact    chevrolet      0
9       midsize    chevrolet      5
10      minivan    chevrolet      0
11       pickup    chevrolet      0
12   subcompact    chevrolet      0
13          suv    chevrolet      9
14      2seater        dodge      0
15      compact        dodge      0
16      midsize        dodge      0
17      minivan        dodge     11
18       pickup        dodge     19
19   subcompact        dodge      0
20          suv        dodge      7
21      2seater         ford      0
22      compact         ford      0
23      midsize         ford      0
24      minivan         ford      0
25       pickup         ford      7
26   subcompact         ford      9
27          suv         ford      9
28      2seater        honda      0
29      compact        honda      0
30      midsize        honda      0
31      minivan        honda      0
32       pickup        honda      0
33   subcompact        honda      9
34          suv        honda      0
35      2seater      hyundai      0
36      compact      hyundai      0
37      midsize      hyundai      7
38      minivan      hyundai      0
39       pickup      hyundai      0
40   subcompact      hyundai      7
41          suv      hyundai      0
42      2seater         jeep      0
43      compact         jeep      0
44      midsize         jeep      0
45      minivan         jeep      0
46       pickup         jeep      0
47   subcompact         jeep      0
48          suv         jeep      8
49      2seater   land rover      0
50      compact   land rover      0
51      midsize   land rover      0
52      minivan   land rover      0
53       pickup   land rover      0
54   subcompact   land rover      0
55          suv   land rover      4
56      2seater      lincoln      0
57      compact      lincoln      0
58      midsize      lincoln      0
59      minivan      lincoln      0
60       pickup      lincoln      0
61   subcompact      lincoln      0
62          suv      lincoln      3
63      2seater      mercury      0
64      compact      mercury      0
65      midsize      mercury      0
66      minivan      mercury      0
67       pickup      mercury      0
68   subcompact      mercury      0
69          suv      mercury      4
70      2seater       nissan      0
71      compact       nissan      2
72      midsize       nissan      7
73      minivan       nissan      0
74       pickup       nissan      0
75   subcompact       nissan      0
76          suv       nissan      4
77      2seater      pontiac      0
78      compact      pontiac      0
79      midsize      pontiac      5
80      minivan      pontiac      0
81       pickup      pontiac      0
82   subcompact      pontiac      0
83          suv      pontiac      0
84      2seater       subaru      0
85      compact       subaru      4
86      midsize       subaru      0
87      minivan       subaru      0
88       pickup       subaru      0
89   subcompact       subaru      4
90          suv       subaru      6
91      2seater       toyota      0
92      compact       toyota     12
93      midsize       toyota      7
94      minivan       toyota      0
95       pickup       toyota      7
96   subcompact       toyota      0
97          suv       toyota      8
98      2seater   volkswagen      0
99      compact   volkswagen     14
100     midsize   volkswagen      7
101     minivan   volkswagen      0
102      pickup   volkswagen      0
103  subcompact   volkswagen      6
104         suv   volkswagen      0

In [38]:
#value가 0~9는 few, 10~19는 many 라는 새로운 열 frequency 추가
df1 = df.reset_index().melt(id_vars = 'class', value_vars = df.reset_index().columns[2:])

bins = [0,10,20]
labels = ['few', 'many']
df1['frequency'] = pd.cut(df1['value'], bins = bins, labels = labels, right = False)
df1

         class manufacturer  value frequency
0      2seater    chevrolet      5       few
1      compact    chevrolet      0       few
2      midsize    chevrolet      5       few
3      minivan    chevrolet      0       few
4       pickup    chevrolet      0       few
5   subcompact    chevrolet      0       few
6          suv    chevrolet      9       few
7      2seater        dodge      0       few
8      compact        dodge      0       few
9      midsize        dodge      0       few
10     minivan        dodge     11      many
11      pickup        dodge     19      many
12  subcompact        dodge      0       few
13         suv        dodge      7       few
14     2seater         ford      0       few
15     compact         ford      0       few
16     midsize         ford      0       few
17     minivan         ford      0       few
18      pickup         ford      7       few
19  subcompact         ford      9       few
20         suv         ford      9       few
21     2seater        honda      0       few
22     compact        honda      0       few
23     midsize        honda      0       few
24     minivan        honda      0       few
25      pickup        honda      0       few
26  subcompact        honda      9       few
27         suv        honda      0       few
28     2seater      hyundai      0       few
29     compact      hyundai      0       few
30     midsize      hyundai      7       few
31     minivan      hyundai      0       few
32      pickup      hyundai      0       few
33  subcompact      hyundai      7       few
34         suv      hyundai      0       few
35     2seater         jeep      0       few
36     compact         jeep      0       few
37     midsize         jeep      0       few
38     minivan         jeep      0       few
39      pickup         jeep      0       few
40  subcompact         jeep      0       few
41         suv         jeep      8       few
42     2seater   land rover      0       few
43     compact   land rover      0       few
44     midsize   land rover      0       few
45     minivan   land rover      0       few
46      pickup   land rover      0       few
47  subcompact   land rover      0       few
48         suv   land rover      4       few
49     2seater      lincoln      0       few
50     compact      lincoln      0       few
51     midsize      lincoln      0       few
52     minivan      lincoln      0       few
53      pickup      lincoln      0       few
54  subcompact      lincoln      0       few
55         suv      lincoln      3       few
56     2seater      mercury      0       few
57     compact      mercury      0       few
58     midsize      mercury      0       few
59     minivan      mercury      0       few
60      pickup      mercury      0       few
61  subcompact      mercury      0       few
62         suv      mercury      4       few
63     2seater       nissan      0       few
64     compact       nissan      2       few
65     midsize       nissan      7       few
66     minivan       nissan      0       few
67      pickup       nissan      0       few
68  subcompact       nissan      0       few
69         suv       nissan      4       few
70     2seater      pontiac      0       few
71     compact      pontiac      0       few
72     midsize      pontiac      5       few
73     minivan      pontiac      0       few
74      pickup      pontiac      0       few
75  subcompact      pontiac      0       few
76         suv      pontiac      0       few
77     2seater       subaru      0       few
78     compact       subaru      4       few
79     midsize       subaru      0       few
80     minivan       subaru      0       few
81      pickup       subaru      0       few
82  subcompact       subaru      4       few
83         suv       subaru      6       few
84     2seater       toyota      0       few
85     compact       toyota     12      many
86     midsize       toyota      7       few
87     minivan       toyota      0       few
88      pickup       toyota      7       few
89  subcompact       toyota      0       few
90         suv       toyota      8       few
91     2seater   volkswagen      0       few
92     compact   volkswagen     14      many
93     midsize   volkswagen      7       few
94     minivan   volkswagen      0       few
95      pickup   volkswagen      0       few
96  subcompact   volkswagen      6       few
97         suv   volkswagen      0       few

#### 4

In [39]:
mpg[:5]

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [41]:
#'manufacturer'과 'year'별로 다른 모든 칼럼의 평균과 최대값
mpg.groupby(['manufacturer', 'year']).agg(['mean', 'max'])

C:\Users\admin\AppData\Local\Temp\ipykernel_2176\1535704851.py:2: FutureWarning: ['model', 'trans', 'drv', 'fl', 'class'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  mpg.groupby(['manufacturer', 'year']).agg(['mean', 'max'])

                      displ            cyl            cty            hwy
                       mean  max      mean max       mean max       mean max
manufacturer year
audi         1999  2.355556  2.8  5.111111   6  17.111111  21  26.111111  29
             2008  2.733333  4.2  5.333333   8  18.111111  21  26.777778  31
chevrolet    1999  4.971429  6.5  7.142857   8  15.142857  19  21.571429  27
             2008  5.116667  7.0  7.333333   8  14.916667  22  22.083333  30
dodge        1999  4.318750  5.9  6.750000   8  13.375000  18  18.437500  24
             2008  4.423810  5.7  7.333333   8  12.952381  17  17.571429  24
ford         1999  4.453333  5.4  7.066667   8  13.933333  18  18.600000  26
             2008  4.660000  5.4  7.400000   8  14.100000  17  20.500000  26
honda        1999  1.600000  1.6  4.000000   4  24.800000  28  31.600000  33
             2008  1.850000  2.0  4.000000   4  24.000000  26  33.750000  36
hyundai      1999  2.300000  2.5  4.666667   6  18.333333  19  26.666667  29
             2008  2.525000  3.3  5.000000   6  18.875000  21  27.000000  31
jeep         1999  4.350000  4.7  7.000000   8  14.500000  15  18.500000  20
             2008  4.650000  6.1  7.333333   8  13.166667  17  17.333333  22
land rover   1999  4.300000  4.6  8.000000   8  11.000000  11  15.000000  15
             2008  4.300000  4.4  8.000000   8  12.000000  12  18.000000  18
lincoln      1999  5.400000  5.4  8.000000   8  11.000000  11  16.500000  17
             2008  5.400000  5.4  8.000000   8  12.000000  12  18.000000  18
mercury      1999  4.500000  5.0  7.000000   8  13.500000  14  17.000000  17
             2008  4.300000  4.6  7.000000   8  13.000000  13  19.000000  19
nissan       1999  2.900000  3.3  5.333333   6  17.666667  21  23.500000  29
             2008  3.585714  5.6  5.714286   8  18.428571  23  25.571429  32
pontiac      1999  3.566667  3.8  6.000000   6  17.000000  18  26.333333  27
             2008  4.550000  5.3  7.000000   8  17.000000  18  26.500000  28
subaru       1999  2.400000  2.5  4.000000   4  19.000000  21  25.500000  26
             2008  2.500000  2.5  4.000000   4  19.500000  20  25.625000  27
toyota       1999  2.765000  4.7  5.000000   8  18.150000  26  24.050000  35
             2008  3.221429  5.7  5.285714   8  19.071429  28  26.142857  37
volkswagen   1999  2.206250  2.8  4.625000   6  21.250000  35  29.687500  44
             2008  2.327273  3.6  4.545455   6  20.454545  22  28.545455  29

In [43]:
#displ은 최대값, cyl은 합
mpg.groupby(['manufacturer', 'year']).agg({'displ' : np.max, 'cyl' : sum})

                   displ  cyl
manufacturer year
audi         1999    2.8   46
             2008    4.2   48
chevrolet    1999    6.5   50
             2008    7.0   88
dodge        1999    5.9  108
             2008    5.7  154
ford         1999    5.4  106
             2008    5.4   74
honda        1999    1.6   20
             2008    2.0   16
hyundai      1999    2.5   28
             2008    3.3   40
jeep         1999    4.7   14
             2008    6.1   44
land rover   1999    4.6   16
             2008    4.4   16
lincoln      1999    5.4   16
             2008    5.4    8
mercury      1999    5.0   14
             2008    4.6   14
nissan       1999    3.3   32
             2008    5.6   40
pontiac      1999    3.8   18
             2008    5.3   14
subaru       1999    2.5   24
             2008    2.5   32
toyota       1999    4.7  100
             2008    5.7   74
volkswagen   1999    2.8   74
             2008    3.6   50

# 머신 러닝

#### * DataFrame을 ndarray, list, dict 로 변환하기

In [1]:
import pydataset

In [2]:
import pandas as pd

In [3]:
mpg = pydataset.data("mpg")
mpg[:5]

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [4]:
df = mpg.iloc[:5, 2:5]
df

   displ  year  cyl
1    1.8  1999    4
2    1.8  1999    4
3    2.0  2008    4
4    2.0  2008    4
5    2.8  1999    6

In [5]:
#1. df를 ndarray 로 변환
df.values

array([[1.800e+00, 1.999e+03, 4.000e+00],
       [1.800e+00, 1.999e+03, 4.000e+00],
       [2.000e+00, 2.008e+03, 4.000e+00],
       [2.000e+00, 2.008e+03, 4.000e+00],
       [2.800e+00, 1.999e+03, 6.000e+00]])

In [6]:
#2. df를 dict 로 변환
df.to_dict()

{'displ': {1: 1.8, 2: 1.8, 3: 2.0, 4: 2.0, 5: 2.8},
 'year': {1: 1999, 2: 1999, 3: 2008, 4: 2008, 5: 1999},
 'cyl': {1: 4, 2: 4, 3: 4, 4: 4, 5: 6}}

In [9]:
#3. df를 list 로 변환
df['displ'].tolist()   #DataFrame 상태에서 바로 변환은 어렵다 -> Series 형태로 변환 후
df.values.tolist()   #중첩 리스트로 출력된다

[[1.8, 1999.0, 4.0],
 [1.8, 1999.0, 4.0],
 [2.0, 2008.0, 4.0],
 [2.0, 2008.0, 4.0],
 [2.8, 1999.0, 6.0]]

In [23]:
#한 개의 리스트로 변환하려면
li = df.values.tolist()

lst = []
for i in range(len(li)):
    lst += li[i]
    
lst

[1.8,
 1999.0,
 4.0,
 1.8,
 1999.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.8,
 1999.0,
 6.0]

In [ ]:
#방법1
li = []
for values in df.values.tolist():
    for value in values:
        li.append(value)
li

#방법2
df.values.reshape(-1).tolist()

#방법3
df.values.flatten().tolist()

#방법4
for i in df.values.tolist():
    for j in i:
        li.append(j)
        
#방법5
[y for x in df.values.tolist() for y in x ]

In [13]:
df.values.reshape(-1).tolist()

[1.8,
 1999.0,
 4.0,
 1.8,
 1999.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.0,
 2008.0,
 4.0,
 2.8,
 1999.0,
 6.0]

In [18]:
mpg.reset_index()[:5]

,index,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact

In [19]:
mpg.reset_index(drop = True)[:5]

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

## 2. 사이킷런으로 시작하는 머신 러닝

In [20]:
import sklearn

In [21]:
#버전 확인
sklearn.__version__

'1.0.2'

In [28]:
pip list

Package                       Version
----------------------------- --------------------
aiohttp                       3.8.1
aiosignal                     1.2.0
alabaster                     0.7.12
anaconda-client               1.9.0
anaconda-navigator            2.1.4
anaconda-project              0.10.2
ansi2html                     1.8.0
anyio                         3.5.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arrow                         1.2.2
astroid                       2.6.6
astropy                       5.0.4
asttokens                     2.0.5
async-timeout                 4.0.1
atomicwrites                  1.4.0
attrs                         21.4.0
Automat                       20.2.0
autopep8                      1.6.0
Babel                         2.9.1
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
backports.tempfile            1.0
backports.weakref             1.0.post1
bcrypt                        3.2.0
beautifulsoup4                4.11.1
binaryornot                   0.4.4
bitarray                      2.4.1
bkcharts                      0.2
black                         19.10b0
bleach                        4.1.0
bokeh                         2.4.2
boto3                         1.21.32
botocore                      1.24.32
Bottleneck                    1.3.4
branca                        0.5.0
Brotli                        1.0.9
brotlipy                      0.7.0
cachetools                    4.2.2
certifi                       2021.10.8
cffi                          1.15.0
chardet                       4.0.0
charset-normalizer            2.0.4
click                         8.0.4
cloudpickle                   2.0.0
clyent                        1.2.2
colorama                      0.4.4
colorcet                      2.0.6
comtypes                      1.1.10
conda                         4.12.0
conda-build                   3.21.8
conda-content-trust           0+unknown
conda-pack                    0.6.0
conda-package-handling        1.8.1
conda-repo-cli                1.0.4
conda-token                   0.3.0
conda-verify                  3.4.2
constantly                    15.1.0
cookiecutter                  1.7.3
cryptography                  3.4.8
cssselect                     1.1.0
cycler                        0.11.0
Cython                        0.29.28
cytoolz                       0.11.0
daal4py                       2021.5.0
dash                          2.6.1
dash-core-components          2.0.0
dash-html-components          2.0.0
dash-table                    5.0.0
dask                          2022.2.1
datashader                    0.13.0
datashape                     0.5.4
debugpy                       1.5.1
decorator                     5.1.1
defusedxml                    0.7.1
diff-match-patch              20200713
distributed                   2022.2.1
docutils                      0.17.1
entrypoints                   0.4
et-xmlfile                    1.1.0
executing                     0.8.3
fastjsonschema                2.15.1
filelock                      3.6.0
flake8                        3.9.2
Flask                         1.1.2
Flask-Compress                1.13
folium                        0.12.1.post1
fonttools                     4.25.0
frozenlist                    1.2.0
fsspec                        2022.2.0
future                        0.18.2
gensim                        4.1.2
glob2                         0.7
google-api-core               1.25.1
google-auth                   1.33.0
google-cloud-core             1.7.1
google-cloud-storage          1.31.0
google-crc32c                 1.1.2
google-resumable-media        1.3.1
googleapis-common-protos      1.53.0
greenlet                      1.1.1
grpcio                        1.42.0
h5py                          3.6.0
HeapDict                      1.0.1
holoviews                     1.14.8
hvplot                        0.7.3
hyperlink                     21.0.0
idna                          3.3
imagecodecs                   2021.8.26
imageio                       2.9.0
imagesize                     1.3.0
importlib-metadata            4.11.3
incremental                   21.3.0
inflection                    0.5.1
iniconfig                     1.1.1
intake                        0.6.5
intervaltree                  3.1.0
ipykernel                     6.9.1
ipython                       8.2.0
ipython-genutils              0.2.0
ipywidgets                    7.6.5
isort                         5.9.3
itemadapter                   0.3.0
itemloaders                   1.0.4
itsdangerous                  2.0.1
jdcal                         1.4.1
jedi                          0.18.1
Jinja2                        2.11.3
jinja2-time                   0.2.0
jmespath                      0.10.0
joblib                        1.1.0
JPype1                        1.4.0
json5                         0.9.6
jsonschema                    4.4.0
jupyter                       1.0.0
jupyter-client                6.1.12
jupyter-console               6.4.0
jupyter-core                  4.9.2
jupyter-dash                  0.4.2
jupyter-server                1.13.5
jupyterlab                    3.3.2
jupyterlab-pygments           0.1.2
jupyterlab-server             2.10.3
jupyterlab-widgets            1.0.0
keyring                       23.4.0
kiwisolver                    1.3.2
konlpy                        0.6.0
lazy-object-proxy             1.6.0
libarchive-c                  2.9
llvmlite                      0.38.0
locket                        0.2.1
lxml                          4.8.0
Markdown                      3.3.4
MarkupSafe                    2.0.1
matplotlib                    3.5.1
matplotlib-inline             0.1.2
mccabe                        0.6.1
menuinst                      1.4.18
mistune                       0.8.4
mkl-fft                       1.3.1
mkl-random                    1.2.2
mkl-service                   2.4.0
mock                          4.0.3
mpmath                        1.2.1
msgpack                       1.0.2
multidict                     5.1.0
multipledispatch              0.6.0
munkres                       1.1.4
mypy-extensions               0.4.3
navigator-updater             0.2.1
nbclassic                     0.3.5
nbclient                      0.5.13
nbconvert                     6.4.4
nbformat                      5.3.0
nest-asyncio                  1.5.5
networkx                      2.7.1
nltk                          3.7
nose                          1.3.7
notebook                      6.4.8
numba                         0.55.1
numexpr                       2.8.1
numpy                         1.21.5
numpydoc                      1.2
olefile                       0.46
openpyxl                      3.0.9
packaging                     21.3
pandas                        1.4.2
pandas-datareader             0.10.0
pandocfilters                 1.5.0
panel                         0.13.0
param                         1.12.0
paramiko                      2.8.1
parsel                        1.6.0
parso                         0.8.3
partd                         1.2.0
pathspec                      0.7.0
patsy                         0.5.2
pep8                          1.7.1
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.0.1
pip                           21.2.4
pkginfo                       1.8.2
plotly                        5.6.0
pluggy                        1.0.0
poyo                          0.5.0
prometheus-client             0.13.1
prompt-toolkit                3.0.20
Protego                       0.1.16
protobuf                      3.19.1
psutil                        5.8.0
ptyprocess                    0.7.0
pure-eval                     0.2.2
py                            1.11.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycodestyle                   2.7.0
pycosat                       0.6.3Note: you may need to restart the kernel to use updated packages.

pycparser                     2.21
pyct                          0.4.6
pycurl                        7.44.1
pydataset                     0.2.0
PyDispatcher                  2.0.5
pydocstyle                    6.1.1
pyerfa                        2.0.0
pyflakes                      2.3.1
Pygments                      2.11.2
PyHamcrest                    2.0.2
PyJWT                         2.1.0
pylint                        2.9.6
pyls-spyder                   0.4.0
PyNaCl                        1.4.0
pyodbc                        4.0.32
pyOpenSSL                     21.0.0
pyparsing                     3.0.4
pyreadline                    2.1
pyreadstat                    1.1.9
pyrsistent                    0.18.0
PySocks                       1.7.1
pytest                        7.1.1
python-dateutil               2.8.2
python-lsp-black              1.0.0
python-lsp-jsonrpc            1.0.0
python-lsp-server             1.2.4
python-slugify                5.0.2
python-snappy                 0.6.0
pytz                          2021.3
pyviz-comms                   2.0.2
PyWavelets                    1.3.0
pywin32                       302
pywin32-ctypes                0.2.0
pywinpty                      2.0.2
PyYAML                        6.0
pyzmq                         22.3.0
QDarkStyle                    3.0.2
qstylizer                     0.1.10
QtAwesome                     1.0.3
qtconsole                     5.3.0
QtPy                          2.0.1
queuelib                      1.5.0
regex                         2022.3.15
requests                      2.27.1
requests-file                 1.5.1
retrying                      1.3.3
rope                          0.22.0
rsa                           4.7.2
Rtree                         0.9.7
ruamel-yaml-conda             0.15.100
s3transfer                    0.5.0
scikit-image                  0.19.2
scikit-learn                  1.0.2
scikit-learn-intelex          2021.20220215.102710
scipy                         1.7.3
Scrapy                        2.6.1
seaborn                       0.11.2
Send2Trash                    1.8.0
service-identity              18.1.0
setuptools                    61.2.0
sip                           4.19.13
six                           1.16.0
smart-open                    5.1.0
sniffio                       1.2.0
snowballstemmer               2.2.0
sortedcollections             2.1.0
sortedcontainers              2.4.0
soupsieve                     2.3.1
Sphinx                        4.4.0
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
spyder                        5.1.5
spyder-kernels                2.1.3
SQLAlchemy                    1.4.32
stack-data                    0.2.0
statsmodels                   0.13.2
sympy                         1.10.1
tables                        3.6.1
tabulate                      0.8.9
TBB                           0.2
tblib                         1.7.0
tenacity                      8.0.1
terminado                     0.13.1
testpath                      0.5.0
text-unidecode                1.3
textdistance                  4.2.1
threadpoolctl                 2.2.0
three-merge                   0.1.1
tifffile                      2021.7.2
tinycss                       0.4
tldextract                    3.2.0
toml                          0.10.2
tomli                         1.2.2
toolz                         0.11.2
tornado                       6.1
tqdm                          4.64.0
traitlets                     5.1.1
Twisted                       22.2.0
twisted-iocpsupport           1.0.2
typed-ast                     1.4.3
typing_extensions             4.1.1
ujson                         5.1.0
Unidecode                     1.2.0
urllib3                       1.26.9
w3lib                         1.21.0
watchdog                      2.1.6
wcwidth                       0.2.5
webencodings                  0.5.1
websocket-client              0.58.0
Werkzeug                      2.0.3
wheel                         0.37.1
widgetsnbextension            3.5.2
win-inet-pton                 1.1.0
win-unicode-console           0.5
wincertstore                  0.2
wordcloud                     1.8.2.2
wrapt                         1.12.1
xarray                        0.20.1
xlrd                          2.0.1
XlsxWriter                    3.0.3
xlwings                       0.24.9
yapf                          0.31.0
yarl                          1.6.3
zict                          2.0.0
zipp                          3.7.0
zope.interface                5.4.0

In [30]:
pip list | findstr sk

dask                          2022.2.1
Flask                         1.1.2
Flask-Compress                1.13
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip3
conda

### (1) 붓꽃 품종 예측하기

In [22]:
from sklearn.datasets import load_iris

In [23]:
load_iris()    #dataset의 형태

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [25]:
iris = load_iris()
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [29]:
#key값은 몇 개인가?
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [41]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [44]:
iris
type(iris)    #type가 dict는 아니지만, dict와 같은 형태이므로 dict라고 봐도 무관하다

sklearn.utils.Bunch

In [46]:
iris.values()
iris.items()

dict_items([('data', array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])), ('target', array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])), ('frame', None), ('target_names', array(['setosa', 'versicolor', 'virginica'], dtype='<U10')), ('DESCR', '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...'), ('feature_names', ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']), ('filename', 'iris.csv'), ('data_module', 'sklearn.datasets.data')])

In [48]:
#접근 : key 값을 입력하면 그 key에 맞는 value값을 출력해준다
iris['data']

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [49]:
iris_data = iris['data']
iris_label = iris['target']    #label : '이름' 이라는 의미

In [51]:
train_test_split(iris_data, iris_label)    #train_test_split() : 두 조각으로(75%, 25%) 나눈다

[array([[6.8, 2.8, 4.8, 1.4],
        [5. , 3.2, 1.2, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [5.8, 2.7, 5.1, 1.9],
        [4.7, 3.2, 1.6, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [5.5, 2.4, 3.8, 1.1],
        [6.7, 3.3, 5.7, 2.5],
        [5.7, 2.6, 3.5, 1. ],
        [4.8, 3.4, 1.9, 0.2],
        [6.9, 3.1, 5.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [4.6, 3.6, 1. , 0.2],
        [4.8, 3. , 1.4, 0.3],
        [6.8, 3.2, 5.9, 2.3],
        [6.3, 3.3, 4.7, 1.6],
        [5.4, 3.4, 1.5, 0.4],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6. , 2.2, 4. , 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6.7, 3. , 5. , 1.7],
        [4.8, 3.4, 1.6, 0.2],
        [7.1, 3. , 5.9, 2.1],
        [6.7, 3. , 5.2, 2.3],
        [5.9, 3.2, 4.8, 1.8],
        [5.2, 3.5, 1.5, 0.2],
        [7.7, 2.8, 6.7, 2. ],
        [6. , 3.4, 4.5, 1.6],
        [4.9, 3.1, 1.5, 0.2],
        [6.6, 2.9, 4.6, 1.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.1, 3.5, 1.4, 0.3],
        [6. , 3. , 4.8, 1.8],
        [7.9, 3.8, 6.4, 2. ],
        [5.6, 2.9, 3.6, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [4.9, 3. , 1.4, 0.2],
        [6.5, 3. , 5.2, 2. ],
        [6.9, 3.1, 5.4, 2.1],
        [5. , 2. , 3.5, 1. ],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.9, 4.3, 1.3],
        [6.4, 3.2, 5.3, 2.3],
        [4.4, 3. , 1.3, 0.2],
        [6.8, 3. , 5.5, 2.1],
        [4.6, 3.2, 1.4, 0.2],
        [6.1, 3. , 4.6, 1.4],
        [6.2, 2.8, 4.8, 1.8],
        [5.1, 3.4, 1.5, 0.2],
        [6.3, 2.7, 4.9, 1.8],
        [6.2, 3.4, 5.4, 2.3],
        [5.4, 3. , 4.5, 1.5],
        [5.2, 3.4, 1.4, 0.2],
        [5.1, 3.5, 1.4, 0.2],
        [5.6, 2.7, 4.2, 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 2.8, 4.7, 1.2],
        [6.9, 3.1, 4.9, 1.5],
        [5.8, 2.6, 4. , 1.2],
        [6.3, 2.5, 5. , 1.9],
        [7.6, 3. , 6.6, 2.1],
        [5.6, 2.5, 3.9, 1.1],
        [7.4, 2.8, 6.1, 1.9],
        [6.2, 2.2, 4.5, 1.5],
        [5.4, 3.7, 1.5, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [6.4, 3.2, 4.5, 1.5],
        [5. , 2.3, 3.3, 1. ],
        [6. , 2.2, 5. , 1.5],
        [4.6, 3.1, 1.5, 0.2],
        [7.7, 2.6, 6.9, 2.3],
        [5. , 3.4, 1.5, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.3, 2.3, 4.4, 1.3],
        [4.4, 3.2, 1.3, 0.2],
        [5.1, 3.8, 1.6, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [6.4, 2.8, 5.6, 2.2],
        [4.5, 2.3, 1.3, 0.3],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.4, 1.7, 0.2],
        [6.4, 3.1, 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [6.9, 3.2, 5.7, 2.3],
        [6.7, 3.1, 4.7, 1.5],
        [6. , 2.9, 4.5, 1.5],
        [6.3, 3.3, 6. , 2.5],
        [5.5, 4.2, 1.4, 0.2],
        [4.3, 3. , 1.1, 0.1],
        [5.1, 3.7, 1.5, 0.4],
        [5.7, 2.5, 5. , 2. ],
        [5.7, 2.8, 4.1, 1.3],
        [5.8, 2.7, 5.1, 1.9],
        [4.8, 3.1, 1.6, 0.2],
        [6. , 2.7, 5.1, 1.6],
        [4.6, 3.4, 1.4, 0.3],
        [5.6, 3. , 4.5, 1.5],
        [6.6, 3. , 4.4, 1.4],
        [4.9, 3.6, 1.4, 0.1],
        [6.5, 2.8, 4.6, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [5.7, 4.4, 1.5, 0.4],
        [5.7, 3.8, 1.7, 0.3],
        [7.2, 3.6, 6.1, 2.5],
        [4.7, 3.2, 1.3, 0.2],
        [5.4, 3.9, 1.3, 0.4],
        [5. , 3. , 1.6, 0.2],
        [6.5, 3.2, 5.1, 2. ],
        [5.5, 2.4, 3.7, 1. ],
        [6.4, 2.8, 5.6, 2.1]]),
 array([[7.7, 3. , 6.1, 2.3],
        [6.4, 2.7, 5.3, 1.9],
        [5. , 3.5, 1.6, 0.6],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [5.9, 3. , 5.1, 1.8],
        [5.9, 3. , 4.2, 1.5],
        [6.4, 2.9, 4.3, 1.3],
        [4.9, 2.4, 3.3, 1. ],
        [5.4, 3.9, 1.7, 0.4],
        [5.1, 3.8, 1.9, 0.4],
        [6.7, 3.1, 4.4, 1.4],
        [6.1, 3. , 4.9, 1.8],
        [6.3, 2.5, 4.9, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.1, 2.9, 4.7, 1.4],
        [6.7, 3.1, 5.6, 2.4],
        [5.8, 4. , 1.2, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.1, 3.3, 1.7, 0.5],
        [5.2, 4.1, 1.5, 0.1],
        [6.5, 3. , 5.5, 1.8],
        [6.3, 2.9, 5.6, 1.8],
        [5.1, 2.5, 3. , 1.1],
        [4.8, 3. , 1.4, 0.1],
        [5.6, 2.8, 4.9, 2. ],
        [5. , 3.5, 1.3, 0.3],
        [6.1, 2.6, 5.6, 1.4],
        [5.8, 2.7, 4.1, 1. ],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.8, 4. , 1.3],
        [5.8, 2.8, 5.1, 2.4],
        [6.7, 2.5, 5.8, 1.8],
        [5.6, 3. , 4.1, 1.3],
        [6.5, 3. , 5.8, 2.2],
        [5.2, 2.7, 3.9, 1.4]]),
 array([1, 0, 0, 0, 2, 0, 0, 1, 2, 1, 0, 2, 2, 0, 0, 2, 1, 0, 2, 2, 1, 1,
        1, 0, 2, 2, 1, 0, 2, 1, 0, 1, 0, 0, 2, 2, 1, 1, 0, 2, 2, 1, 2, 1,
        2, 0, 2, 0, 1, 2, 0, 2, 2, 1, 0, 0, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1,
        0, 0, 1, 1, 2, 0, 2, 0, 1, 1, 0, 0, 0, 2, 0, 0, 0, 2, 2, 2, 1, 1,
        2, 0, 0, 0, 2, 1, 2, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 2, 0, 0, 0, 2,
        1, 2]),
 array([2, 2, 0, 1, 1, 2, 1, 1, 1, 0, 0, 1, 2, 1, 1, 1, 2, 0, 0, 0, 0, 2,
        2, 1, 0, 2, 0, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1])]

In [54]:
X_train, X_test, y_train, y_test = train_test_split(iris_data, iris_label)    #총 4조각이 된다

In [53]:
y_test

array([2, 0, 1, 0, 2, 2, 0, 2, 0, 1, 2, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 2, 2, 2, 0, 0, 2, 1, 1, 1, 0, 0])

In [55]:
dt_clf = DecisionTreeClassifier()    #DecisionTreeClassifier(): 대문자로 시작 -> class

In [56]:
dt_clf.fit(X_train, y_train)    #.fit() : X_train과 y_train의 패턴을 분석하고, dt_clf에 저장한다
#fitting : 패턴을 찾는다, 학습한다, 적합하다, 훈련하다

DecisionTreeClassifier()

In [59]:
X_train.shape    #.shape -> (row의 개수, column의 개수)

(112, 4)

In [60]:
y_train.shape

(112,)

In [62]:
X_test.shape

(38, 4)

In [63]:
dt_clf.predict(X_test)

array([1, 1, 0, 2, 0, 0, 0, 2, 0, 2, 0, 2, 0, 1, 2, 0, 1, 1, 2, 0, 2, 1,
       0, 1, 1, 1, 1, 2, 2, 0, 2, 1, 0, 2, 2, 2, 2, 1])

In [64]:
y_test

array([1, 1, 0, 2, 0, 0, 0, 2, 0, 2, 0, 2, 0, 1, 2, 0, 1, 1, 2, 0, 2, 1,
       0, 1, 1, 1, 1, 1, 2, 0, 2, 1, 0, 2, 2, 2, 2, 1])

In [65]:
#X_test와 y_test 의 값 비교(예측)
y_pred = dt_clf.predict(X_test)
y_pred == y_test

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [66]:
sum(y_pred == y_test)

37

In [68]:
iris['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [69]:
from sklearn.metrics import accuracy_score

In [71]:
accuracy_score(y_test, y_pred)   #두 함수를 비교해서 몇개 맞았는지 확인 (정확도)

0.9736842105263158

#### * 레이블 인코딩

In [72]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [73]:
encoder.fit(['TV', '냉장고', '전자레인지'])

LabelEncoder()

In [74]:
encoder.fit_transform(['TV', '냉장고', '전자레인지'])

array([0, 1, 2], dtype=int64)